# Python Data Structures

## Python Numbers, Type Conversion and Mathematics

### Number Data Type in Python

In [ ]:
int = 5 
float = 5.2
complex = x + yj

type()
instance()

In [2]:
a = 9
b = 5.7
c = 9 + 7j

print(type(a))
print(type(b))
print(type(c))

print(isinstance(a, int))
print(isinstance(b, float))
print(isinstance(c, complex))

print(isinstance(a, complex))
print(isinstance(b, int))
print(isinstance(c, float))

<class 'int'>
<class 'float'>
<class 'complex'>
True
True
True
False
False
False

| Number system | Prefix |
|:---- | :----|
|**`Binary`** | '0b' or '0B |
|**`Octal`** | '0o' or '0O' |
|**`Hexadecimal`** | '0x' or '0X' |

In [3]:
#Example 1:

print(0b0001)
print(0o12)
print(0x000A)

1
10
10

In [5]:
#Example 2

print(0b1101101)
print(0xFB + 0b10)
print(0xFB)
print(0b10)
print(0o16)

109
253
251
2
14

### Type Conversion

We can convert from one type of number into another type of number. This process is known as coercion

In [7]:
3+7.0

10.0

In [8]:
int(7.5)

7

In [9]:
int(-4.3)

-4

In [10]:
float(7)

7.0

In [11]:
a = 1234567890123456789
print(a)

b = 0.1234567890123456789
print(b)

c = 3 + 5j
print(c)

1234567890123456789
0.12345678901234568
(3+5j)

### Python Decimal

In [13]:
(2.2+3.1) == 5.3

False

In [14]:
1/3

0.3333333333333333

In [15]:
2.2+3.1

5.300000000000001

In [17]:
import decimal
print(0.1)

print(decimal.Decimal(0.1))

0.1
0.1000000000000000055511151231257827021181583404541015625

In [18]:
import decimal
print(decimal.Decimal('2.2') + decimal.Decimal('3.3'))
print(decimal.Decimal('3.2') * decimal.Decimal('3.5'))

5.5
11.20

#### When to use Decimal instead of float?

We generally use Decimal in the following cases.

1. When we are making financial applications that need exact decimal representation.
2. When we want to control the level of precision required.
3. When we want to implement the notion of significant decimal places.

### Python Fractions

In [20]:
import fractions

print(fractions.Fraction(1.4))
print(fractions.Fraction(5))
print(fractions.Fraction(3.7))

3152519739159347/2251799813685248
5
4165829655317709/1125899906842624

In [21]:
import fractions
#As float

print(fractions.Fraction(2.2))

#As String
print(fractions.Fraction('2.2'))

2476979795053773/1125899906842624
11/5

In [22]:
import fractions
print(fractions.Fraction(1.6) + fractions.Fraction(2.4))
print(fractions.Fraction(1, 6) + fractions.Fraction(2, 4))
print(3 / fractions.Fraction(4, 5))
print(fractions.Fraction(-1, 10) > 0)
print(fractions.Fraction(-4, 10) < 0)

4
2/3
15/4
False
True

### Python Mathematics


Modules like `math` and `random`

In [23]:
import math

print("Mathematics of Pi",math.pi)
print("Mathematics of Cosine",math.cos(math.pi))
print("Mathematics of Exponential",math.exp(20))
print("Mathematics of Logarithm",math.log10(10000))
print("Mathematics of SinH",math.sinh(10))
print("Mathematics of Factorial",math.factorial(8))

Mathematics of Pi 3.141592653589793
Mathematics of Cosine -1.0
Mathematics of Exponential 485165195.4097903
Mathematics of Logarithm 4.0
Mathematics of SinH 11013.232874703393
Mathematics of Factorial 40320

In [29]:
import random

print(random.randrange(12, 22))

x= ['a', 'b', 'c', 'd', 'e']

#Get random choice
print(random.choice(x))

#Shuffle x
random.shuffle(x)

#print the shuffled x
print(x)

#print Random element
print(random.random())

15
c
['b', 'a', 'c', 'd', 'e']
0.9900578458273749

## Python Strings

### What is String in Python?

|Data Types          |Type         |         | 
|:-------------------|:------------|:--------|
|**String**          | **Immutable**|    |


English Language

ASCII
Unicode

$0_{hex}$ to $10FFFF_{hex}$

U+

<div>
<img src='img/s0.png' width="800">
</div>

### How to create a string in Python?

In [30]:
# Example

print(1250)
print(type(1250))


print("1250")
print(type("1250"))

1250
<class 'int'>
1250
<class 'str'>

In [31]:
mystring = "Good daya everyone"

print(mystring)

mystring = 'Good daya everyone'

print(mystring)

mystring = """Good daya everyone"""

print(mystring)

mystring = '''Good daya everyone'''

print(mystring)

Good daya everyone
Good daya everyone
Good daya everyone
Good daya everyone

In [32]:
#Example: Multiline string 

mutlistring = """My name is Olalekan Samuel. I am a software developer cum Lecturer.
I have been to many countries to lecture on Data Science and Machine Learning. This is
The reason I have decided to create this training"""

print(mutlistring)

My name is Olalekan Samuel. I am a software developer cum Lecturer.
I have been to many countries to lecture on Data Science and Machine Learning. This is
The reason I have decided to create this training

In [33]:
#Example: Multiline string 

mutlistring = ''''My name is Olalekan Samuel. I am a software developer cum Lecturer.
I have been to many countries to lecture on Data Science and Machine Learning. This is
The reason I have decided to create this training'''

print(mutlistring)

'My name is Olalekan Samuel. I am a software developer cum Lecturer.
I have been to many countries to lecture on Data Science and Machine Learning. This is
The reason I have decided to create this training

In [34]:
language = 'Python'
a,b,c,d,e,f = language
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(h)

P
y
t
h
o
n

NameError: name 'h' is not defined

### How to access characters in a string?
```python
str[0] = 'O' = str[-8] ,
str[1] = 'L' = str[-7] ,
str[2] = 'A' = str[-6] ,
str[3] = 'L' = str[-5] ,
str[4] = 'E' = str[-4] , 
str[5] = 'K' = str[-3].  
str[6] = 'A' = str[-2] , # refers to the second last item
str[7] = 'N' = str[-1].  # refers to the last item
```

<div>
<img src="img/s_3.png" width="300"/>
</div>

- Slicing Operator `:`
- We can also use the `len` function to provide the length of a string

In [2]:
name = 'Olalekan'

first_letter = name[0]
print(first_letter)

second_letter = name[1]
print(second_letter)

third_letter = name[2]
print(third_letter)

O
l
a

In [4]:
last_letter = name[-1]
print(last_letter)

second_last_letter = name[-2]
print(second_last_letter)

third_last_letter = name[-3]
print(third_last_letter)

n
a
k

In [6]:
str = "OLALEKAN"

print('string = ', str)
print('str[1.5] =', str[1.5])

string =  OLALEKAN

TypeError: string indices must be integers

In [8]:
name = 'Olalekan'
length = len(name)

i=0

for n in range(-1,(-length-1), -1):
    print(name[i], '\t', name[n])
    i+=1

O 	 n
l 	 a
a 	 k
l 	 e
e 	 l
k 	 a
a 	 l
n 	 O

### How to slice a string in Python?

<div>
<img src="img/s16.png" width="300"/>
</div>

**Syntax** of Slice Operator :

```python
str[start : stop : step ]
```

other syntax of slice:

```python
str[start : stop]  # items start through stop-1

str[start : ]      # items start through the rest of the array

str[ : stop]       # items from the beginning through stop-1

str[ : ]           # a copy of the whole array
```

In [9]:
str = "python"

str[0:5:1]

'pytho'

In [11]:
number = '123456789'

print("The string '%s' string is the %d charcaters long" %(number, len(number)))
print("The first character of", number, 'is', number[0])
print("The last character of", number, 'is', number[8])
print("The last character of", number, 'is', number[len(number)-1])

The string '123456789' string is the 9 charcaters long
The first character of 123456789 is 1
The last character of 123456789 is 9
The last character of 123456789 is 9

In [13]:
print("The first character of", number, 'is', number[-len(number)])
print("The first character of", number, 'is', number[(-9)])
print("The second character of", number, 'is', number[-8])
print("The last character of", number, 'is', number[-1])

The first character of 123456789 is 1
The first character of 123456789 is 1
The second character of 123456789 is 2
The last character of 123456789 is 9

In [14]:
# A substring (i.e. range of characters can be specified as using a:b)
# This means that we are using this to specifiy the characters at index a, a+1, ... b-1

print("The first three characters", number[0:3])
print("The next three characters", number[3:6])

The first three characters 123
The next three characters 456

In [15]:
#An empty beginning and an empty end of the range shows the beginning and the end of the string

number = '123456789'
print("The first three characters", number[:3])
print("The last three characters", number[-3:])

The first three characters 123
The last three characters 789

In [16]:
string = "Olalekan"
print("string = ", string)

#To access the first character
print("string[0] = ", string[0])

#To access the last character
print("string[0] = ", string[-1])

#To access the second to fifth character
print("string[1:5] = ", string[1:5])

#To access the sixth to second last character
print("string[5:-2] = ", string[5:-2])

string =  Olalekan
string[0] =  O
string[0] =  n
string[1:5] =  lale
string[5:-2] =  k

### Breaking appart strings

* `partition(separator)`: breaks a string into three parts based on a separator

* `split()`: breaks string into words separated by white-space (optionally takes a separator as argument)

* `join()`: joins the result of a split using string as separator

In [17]:
counting = "one ➡ two ➡ three ➡ four ➡ five"
print(counting.partition("➡"))
print(counting.split() )
print(counting.split(" ➡ ") )
print(";".join(counting.split(" ➡ ")))

('one ', '➡', ' two ➡ three ➡ four ➡ five')
['one', '➡', 'two', '➡', 'three', '➡', 'four', '➡', 'five']
['one', 'two', 'three', 'four', 'five']
one;two;three;four;five

In [18]:
"This action will split all the words in this sentence into a list".split()

['This',
 'action',
 'will',
 'split',
 'all',
 'the',
 'words',
 'in',
 'this',
 'sentence',
 'into',
 'a',
 'list']

In [19]:
' '.join(['This',
 'action',
 'will',
 'join',
 'all',
 'the',
 'words',
 'in',
 'this',
 'sentence',
 'into',
 'a',
 'full sentence'])

'This action will join all the words in this sentence into a full sentence'

In [20]:
"Welcome to this class".find('om')

4

In [21]:
"Welcome to this class".replace('class', 'session')

'Welcome to this session'

### How to change or delete a string?

In [23]:
string = "Olalekan"
#string[5] = "b"
string = "Olalakan"
print(string)

Olalakan

### Python Strings Operations

#### 1. Basic Operators for concatenation of two or more strings

- `+` and `,`
- `*`
###### Concatenation Operator
| Expression | Output |
|:----| :--- |
| **`"10" + "50"`** |   **"1050"**  | 
| **`"hello" + "009"`** |   **"hello009"** | 
| **`"hello99" + "world66" `** |   **"hello99world66"** | 

>**Note:** Both the operands passed for concatenation must be of same type, else it will show an error.

###### Replication Operator
| Expression | Output |
|:----| :--- |
| **`"ArcX" \* 2`** |   **"ArcXArcX"**  | 
| **`3 *'5'`** |   **"555"** | 
| **`'@'* 5 `** |   **"@@@@@"** | 

>**Note:**: We can use Replication operator in any way i.e., int **`*`** string or string **`*`** **`int`**. Both the parameters passed cannot be of same type.

In [25]:
#Example 1: String Concatenation

x = "Welcome to the Data Science"
y = "and Machine Learning in 12 Weeks"

print(x+y)

print(x+" "+y)

Welcome to the Data Scienceand Machine Learning in 12 Weeks
Welcome to the Data Science and Machine Learning in 12 Weeks

In [26]:
print(x,y)

Welcome to the Data Science and Machine Learning in 12 Weeks

In [27]:
print("Welcome to this class "+ 100)

TypeError: can only concatenate str (not "int") to str

In [29]:
print("Welcome to this class", 100)

Welcome to this class 100

In [30]:
print("Weclome to this class " * 4)
print(4 * "This is Sessions for Python Fundamentasl ")

Weclome to this class Weclome to this class Weclome to this class Weclome to this class
This is Sessions for Python Fundamentasl This is Sessions for Python Fundamentasl This is Sessions for Python Fundamentasl This is Sessions for Python Fundamentasl

In [31]:
#Iterating through a string

count = 0

for letter in "Welcome to the Python Fundamentals":
    if (letter == 'c'):
        count += 1
print(count, 'letters found')

1 letters found

#### 2. Python String Membership Operators

In [32]:
#Example

string1 = "Welcome to the Python Fundamentals Class"
string2 = "Welcome to the Python"
string3 = "Welcome to the Python"
string4 = "Welcome"

print("Example of in Operator in String::")
print(string2 in string1)
print(string3 in string1)
print(string4 in string1)
print()
print("Example of not in Operator in String::")
print(string2 not in string1)
print(string3 not in string1)
print(string4 not in string1)

Example of in Operator in String::
True
True
True

Example of not in Operator in String::
False
False
False

#### 3. Python Relational Operators 

<, >, <==, >==, ==, !==, <>

The ASCII value of a is 97, b is 98, and c is 99. The ASCII value of A is 65, B is 66, C is 67

`%` operator is used to format the string inserting the values that comes after.

   - **`%s`** ➡ string
   - **`%d`** ➡ Integer
   - **`%f`** ➡ Float
   - **`%o`** ➡ Octal
   - **`%x`** ➡ Hexadecimal
   - **`%e`** ➡ exponential

In [34]:
print("Example of Relator Operators in String::")

print("Welcome to the python fundamentals" == "Welcome to the python fundamentals")
print("Welcome to the python fundamentals" >= "Welcome to the python fundamentals")
print("Name"< "name")

Example of Relator Operators in String::
True
True
True

In [42]:
print("Hello %s " % string1)
print("The actual number = %d" %29)
print("The actual float number = %f" %29.8)
print("The actual octal number = %o" %29)
print("The actual Hexadecimal number = %x" %29)
print("The actual Exponential number = %e" %29)

Hello Welcome to the Python Fundamentals Class
The actual number = 29
The actual float number = 29.800000
The actual octal number = 35
The actual Hexadecimal number = 1d
The actual Exponential number = 2.900000e+01

In [43]:
print("Hello %s %s. My name is Olalekan, you can call me %d" %(string1, string2, 125))

Hello Welcome to the Python Fundamentals Class Welcome to the Python. My name is Olalekan, you can call me 125

### Built-in functions to Work with Python

### Python String Formatting

#### 1. Escape Sequence

| Escape Sequence | Description |
|:----:| :--- |
| **`\newline`** |   Backslash and newline ignored  | 
| **`\\`** |   Backslash | 
| **`\'`** |   Single quote | 
| **`\"`** |   Double quote | 
| **`\a`** |   ASCII Bell | 
| **`\b`** |   ASCII Backspace | 
| **`\f`** |   ASCII Formfeed | 
| **`\n`** |   ASCII Linefeed | 
| **`\r`** |   ASCII Carriage Return |
| **`\t`** |   ASCII Horizontal Tab | 
| **`\v`** |   ASCII Vertical Tab | 
| **`\ooo`** |   Character with octal value ooo | 
| **`\xHH`** |   Character with hexadecimal value HH |

In [47]:
print('''"Olalekan Said, "what's the purpose"''')

"Olalekan Said, "what's the purpose"

In [49]:
print('Olalekan Said, "what\'s the purpose"')

Olalekan Said, "what's the purpose"

In [51]:
print("Olalekan Said, \"what's the purpose\"")

Olalekan Said, "what's the purpose"

In [52]:
# Escape sequence

print('This is Python Fundamentals Sessions.\nHooe you are having fun going through it?') # '\n' line break
print('Days\tChapters\tTopics')  # '\t' tab space
print('Day 1\tTopic 1\tPython Introduction')
print('Day 2\tTopic 2\tPython Datatypes')
print('Day 3\tTopic 3\tPython Flow Control')
print('Day 4\tTopic 4\tPython Functions')
print('Day 5\tTopic 5\tPython Files')
print('This is a back slash  symbol (\\)') # To write a back slash
print('In every programming language it starts with \"Hello, World!\"')

This is Python Fundamentals Sessions.
Hooe you are having fun going through it?
Days	Chapters	Topics
Day 1	Topic 1	Python Introduction
Day 2	Topic 2	Python Datatypes
Day 3	Topic 3	Python Flow Control
Day 4	Topic 4	Python Functions
Day 5	Topic 5	Python Files
This is a back slash  symbol (\)
In every programming language it starts with "Hello, World!"

#### 2. Raw String to ignore escape sequence

In [53]:
print("This is \x61 \ngood example")

This is a
good example

In [54]:
print(r"This is \x61 \ngood example")

This is \x61 \ngood example

In [55]:
print(R"This is \x61 \ngood example")

This is \x61 \ngood example

#### 3. The `format()` Method for Formatting Strings

`{}`

In [58]:
#default implicit order
default_name_order = "{}, {}, and {}".format("Olalekan", "Olusola", "Akeem")
print("\n---- Name Default Order---")
print(default_name_order)

---- Name Default Order---
Olalekan, Olusola, and Akeem

In [57]:
#ordering using the positional argument

order_positionally = "{1}, {0}, and {2}".format('Allan', "Ademola", 'Adeoti')
print("\n---- Name using Postional Arguments---")
print(order_positionally)

---- Name using Postional Arguments---
Ademola, Allan, and Adeoti

In [59]:
#ordering using the Keyword argument
keyword_order = "{a}, {b}, and {c}".format(a = "Tumi", b = "Iyana", c="Samuel")
print("\n---- Name using Keyword Arguments---")
print(keyword_order)

---- Name using Keyword Arguments---
Tumi, Iyana, and Samuel

#### 4. Old style formatting

`sprintf()` is an old style, which I do not recommend

In [61]:
x = 3.145271
print("The value of x is %3.2f" %x)

The value of x is 3.15

In [62]:
print("The value of x is %3.4f" %x)

The value of x is 3.1453

### Common Python String Methods

* Upper vs lower case: **`upper()`**, **`lower()`**, **`captialize()`**, **`title()`** and **`swapcase()`**, **`join()`**, **`split()`**, **`find()`**, **`replace()`** etc, with mostly the obvious meaning. Note that `capitalize` makes the first letter of the string a capital only, while **`title`** selects upper case for the first letter of every word.

* Padding strings: **`center(n)`**, **`ljust(n)`** and **`rjust(n)`** each place the string into a longer string of length n  padded by spaces (centered, left-justified or right-justified respectively). **`zfill(n)`** works similarly but pads with leading zeros.

* Stripping strings: Often we want to remove spaces, this is achived with the functions **`strip()`**, **`lstrip()`**, and **`rstrip()`** respectively to remove from spaces from the both end, just left or just the right respectively. An optional argument can be used to list a set of other characters to be removed.

In [64]:
#Example

word = "hello WeLCOme to this class!"

print(word.capitalize(), "vs", word.title())

Hello welcome to this class! vs Hello Welcome To This Class!

In [80]:
print("upper case: '%s'"%word.upper(),"lower case: '%s'"%word.lower(), "and swapped: '%s'"%word.swapcase())

upper case: 'HELLO WELCOME TO THIS CLASS!' lower case: 'hello welcome to this class!' and swapped: 'HELLO wElcoME TO THIS CLASS!'

In [81]:
print("Hello Everyone".replace("Everyone", "Somebody"))

Hello Somebody

#### Inspecting Strings

* Checking the start or end of a string: **`startswith("string")`** and **`endswith("string")`** checks if it starts/ends with the string given as argument

* Capitalisation: There are boolean counterparts for all forms of capitalisation, such as **`isupper()`**, **`islower()`** and **`istitle()`**

* Character type: does the string only contain the characters:
  * 0-9: **`isdecimal()`**. Note there is also **`isnumeric()`** and **`isdigit()`** which are effectively the same function except for certain unicode characters
  * a-zA-Z: **`isalpha()`** or combined with digits: **`isalnum()`**
  * non-control code: **`isprintable()`** accepts anything except '\n' an other ASCII control codes
  * \t\n \r (white space characters): **`isspace()`**
  * Suitable as variable name: **`isidentifier()`**
  
* Find elements of string: **`s.count(w)`** finds the number of times **`w`** occurs in **`s`**, while **`s.find(w)`** and **`s.rfind(w)`** find the first and last position of the string **`w`** in **`s`**.

In [83]:
word = "This is the last topic in string data structure"
print("The length of '%s' is" %word, len(word), "characters")

The length of 'This is the last topic in string data structure' is 47 characters

In [84]:
word.startswith("Hello.") and word.endswith("Thank you for attending")

False

## Python List

### What is List in Python?

| Data Types        | Type         |         |
| :---------------: | :-----------:| :------:|
| **String**        | **immutable**   |
| **List**          | **mutable**     |

<div>
 <img src ="img/l0.png" width="600"/>  
</div>

### Creating Python List

In [90]:
#Example: Creating List

#empty List
myList = []
print(myList)
print(len(myList))

#List of integers
myList1 = [6, 8, 5, 19]
print(myList1)
print("The length of myList1 is", len(myList1))

#List of mixed data types
myList2 = [6, "Olalekan", 8, "Adeolu", 5, 9.8, 19]
print(myList2)
print("The length of myList2 is", len(myList2))

#List of nested types
myList3 = [6, "Olalekan", 8, ["Ademola", 18, 89], "Adeolu", 5, 9.8, 19]
print(myList3)
print("The length of myList3 is", len(myList3))

[]
0
[6, 8, 5, 19]
The length of myList1 is 4
[6, 'Olalekan', 8, 'Adeolu', 5, 9.8, 19]
The length of myList2 is 7
[6, 'Olalekan', 8, ['Ademola', 18, 89], 'Adeolu', 5, 9.8, 19]
The length of myList3 is 8

### Accessing Elemnets from a List in Python

#### List Index

In [94]:
mynewlist = ['Olalekan', 'Ademola', "Olusola", "Omolola", "Ajibola", "Olode", "Adebanji"]

print(mynewlist[0])
print(mynewlist[3])
print(mynewlist[5])

print()
print("---------Nested Lists--------")
nestedlist = ["Python Fundamentals", [10, 7, 45, 87]]

#nested Indexing
print(nestedlist[0][1])
print(nestedlist[1][3])

Olalekan
Omolola
Olode

---------Nested Lists--------
y
87

#### Negative Indexing

In [97]:
negindexlist = ["o", "l", "a","l", "e", "k", "a", "n"]

print(negindexlist[-1])
print(negindexlist[-2])
print(negindexlist[-3])
print(negindexlist[:])

n
a
k
['o', 'l', 'a', 'l', 'e', 'k', 'a', 'n']

#### How to Slice Lists in Python

In [101]:
print(negindexlist[:])

print(negindexlist[:2])
print(negindexlist[2:5])
print(negindexlist[3:])

['o', 'l', 'a', 'l', 'e', 'k', 'a', 'n']
['o', 'l']
['a', 'l', 'e']
['l', 'e', 'k', 'a', 'n']

### Python List Operation

#### 1. Add/Change List Elements

You can change the List elements/items

In [105]:
evenNumber = [2, 4, 6, 8, 10, 14, 16]

print(evenNumber)

evenNumber[3] = 12
print(evenNumber)

evenNumber[3:5] = [18, 20, 22]
print(evenNumber)

evenNumber[2] = "This is a new string"
print(evenNumber)

[2, 4, 6, 8, 10, 14, 16]
[2, 4, 6, 12, 10, 14, 16]
[2, 4, 6, 18, 20, 22, 14, 16]
[2, 4, 'This is a new string', 18, 20, 22, 14, 16]

You can also add elements to the list. 

You use the `append()` methods to add 1 element/item to the list at a time and the `extend()` to add
mulitple elements/items to the list

In [107]:
oddnumber = [1, 3, 7]
print(oddnumber)

oddnumber.append(5)
print(oddnumber)

oddnumber.extend([9, 13, 15, 17, 19])
print(oddnumber)

[1, 3, 7]
[1, 3, 7, 5]
[1, 3, 7, 5, 9, 13, 15, 17, 19]

In [108]:
my_list = ['olalekan', 'Adeyemi', 'Ademola', 'Ajoke', "Olusola"]
print(my_list)
my_list.append(6.9)
print(my_list)
my_list.append("Adejoke")
print(my_list)
my_list.append(["Olubunmi", "Omolola"])

print(my_list)

['olalekan', 'Adeyemi', 'Ademola', 'Ajoke', 'Olusola']
['olalekan', 'Adeyemi', 'Ademola', 'Ajoke', 'Olusola', 6.9]
['olalekan', 'Adeyemi', 'Ademola', 'Ajoke', 'Olusola', 6.9, 'Adejoke']
['olalekan', 'Adeyemi', 'Ademola', 'Ajoke', 'Olusola', 6.9, 'Adejoke', ['Olubunmi', 'Omolola']]

You can also use the `+` concatenation operator to combine to lists

In [109]:
newlist = [2, 8, 10, 15]
print(newlist)

print(newlist + [3, 4, 5, 6, 7, 9, 11, 12, 13, 14])

[2, 8, 10, 15]
[2, 8, 10, 15, 3, 4, 5, 6, 7, 9, 11, 12, 13, 14]

In [110]:
newlist1 = ['olalekan', 'Adeyemi', 'Ademola']
print(newlist1)
newlist2 = ["Olubunmi", "Omolola"]
print(newlist2)
newlist3 = newlist1 + newlist2
print(newlist3)

['olalekan', 'Adeyemi', 'Ademola']
['Olubunmi', 'Omolola']
['olalekan', 'Adeyemi', 'Ademola', 'Olubunmi', 'Omolola']

In [111]:
newlist4 = ['a' , 'b', 'c']
name = "Olalekan"
print(newlist4 + name)

TypeError: can only concatenate list (not "str") to list

Also note that the `*` operator is used to repeat the list for a given number of time

In [112]:
newlist5 = ['a' , 'b', 'c']
print(newlist5 + [9, 16, 14])
print(["Olalekan"]* 5)

['a', 'b', 'c', 9, 16, 14]
['Olalekan', 'Olalekan', 'Olalekan', 'Olalekan', 'Olalekan']

In [113]:
newlist6 = ["Olubunmi", "Omolola"]
print(newlist6*3)

['Olubunmi', 'Omolola', 'Olubunmi', 'Omolola', 'Olubunmi', 'Omolola']

Also, note that you can insert one element/item at a desired location bu using the `insert()` method or you can insert multiple items by squeezing it into am empty slice of a list

In [114]:
my_list1 = ['olalekan', 'Adeyemi', 'Ademola', 'Ajoke', "Olusola"]
print(my_list1)

my_list1.insert(1, "Oluyemi")
print(my_list1)

my_list1[2:2] = [10, 16]
print(my_list1)

['olalekan', 'Adeyemi', 'Ademola', 'Ajoke', 'Olusola']
['olalekan', 'Oluyemi', 'Adeyemi', 'Ademola', 'Ajoke', 'Olusola']
['olalekan', 'Oluyemi', 10, 16, 'Adeyemi', 'Ademola', 'Ajoke', 'Olusola']

#### 2. Delete/Remove List Elements

You can delete one or more elements/items from a list and to do that you just use the keyword `del`. The keyword can also be used to delete the entire list

In [117]:
my_list2 = ['olalekan', 'Adeyemi', 'Ademola', 'Ajoke', "Olusola"]
print(my_list2)
del my_list2[2]
print(my_list2)
del my_list2[2:4]
print(my_list2)

del my_list2
print(my_list2)

['olalekan', 'Adeyemi', 'Ademola', 'Ajoke', 'Olusola']
['olalekan', 'Adeyemi', 'Ajoke', 'Olusola']
['olalekan', 'Adeyemi']

NameError: name 'my_list2' is not defined

We can also use the `remove()` to remove a given item or the `pop()` method to remove an item at a given index. Note that the `pop()` method will remove and returns the last item if the index is not provided. You can also use the `clear()` method to empty a list

In [118]:
my_list4 = ['olalekan', 'Adeyemi', 'Ademola', 'Ajoke', "Olusola", "Ajike", "Samuel", "Adebanji"]
print(my_list4)

my_list4.remove("Adeyemi")
print(my_list4)

print(my_list4.pop(1))
print(my_list4)
print(my_list4.pop())
print(my_list4)
my_list4.clear()
print(my_list4)

['olalekan', 'Adeyemi', 'Ademola', 'Ajoke', 'Olusola', 'Ajike', 'Samuel', 'Adebanji']
['olalekan', 'Ademola', 'Ajoke', 'Olusola', 'Ajike', 'Samuel', 'Adebanji']
Ademola
['olalekan', 'Ajoke', 'Olusola', 'Ajike', 'Samuel', 'Adebanji']
Adebanji
['olalekan', 'Ajoke', 'Olusola', 'Ajike', 'Samuel']
[]

Also, we can delete items in a list by assigning an empty list to a slice of items

In [119]:
my_list5 = ['olalekan', 'Adeyemi', 'Ademola', 'Ajoke', "Olusola", "Ajike", "Samuel", "Adebanji"]
print(my_list5)
my_list5[2:3] = []
print(my_list5)

my_list5[2:-4] = []
print(my_list5)

['olalekan', 'Adeyemi', 'Ademola', 'Ajoke', 'Olusola', 'Ajike', 'Samuel', 'Adebanji']
['olalekan', 'Adeyemi', 'Ajoke', 'Olusola', 'Ajike', 'Samuel', 'Adebanji']
['olalekan', 'Adeyemi', 'Olusola', 'Ajike', 'Samuel', 'Adebanji']

###  Python Built-in List Functions

| Functions | Description |
|:----| :--- |
| **[all()]** |   Returns **`True`** when all elements in the given iterable are true. If not, it returns False | 
| **[any()]** |   Returns **`True`** if any key of the list is true. If the list is empty, return **`False`**. | 
| **[sorted()]** |   Returns a new sorted list of elements in the list. sorts the elements of a given iterable in a specific order (either ascending or descending) and returns the sorted iterable as a list| 
| **[min()]** |   Returns the minimum value from the list given. In Python3 lists element's type should be same otherwise compiler throw type Error| 
| **[max()]** |   Returns the maximum value from the list given. | 
| **[len()]** |   Returns number of elements in a list. | 
| **cmp()** |   Compares items of two lists. (Not available in Python 3). | 
| **[list()]** |   Takes sequence types and converts them to lists. |

### `all()` function

In [121]:
                                                                                                           mynewlist = [1, 2, 4, 5, 6]
print(all(mynewlist))

mynewlist =[0, False]
print(all(mynewlist))

mynewlist = [1, 2, 4, 0]
print(all(mynewlist))

mynewlist=[0, False, 5]
print(all(mynewlist))

mynewlist=[]
print(all(mynewlist))

True
False
False
False
True

### `any()` function

In [123]:
mynewlist1 = [1, 3, 4, 0]
print(any(mynewlist1))

mynewlist1 =[0, False]
print(any(mynewlist1))

mynewlist1=[0, False, 5]
print(any(mynewlist1))

mynewlist1=[]
print(any(mynewlist1))

True
False
True
False

### `sorted()` function

In [126]:
sorted_list = ['e', 'o', 'i', 'u', 'a', 'b', 'f', 'g']

print(sorted(sorted_list))
print(sorted(sorted_list, reverse=True))

['a', 'b', 'e', 'f', 'g', 'i', 'o', 'u']
['u', 'o', 'i', 'g', 'f', 'e', 'b', 'a']

### `min()` function

In [129]:
min_list = ['a', 'b', 'c', 'd', 'e', 'f']
print(min(min_list))

min_list2 = [67, 98, 34, 56, 23, 81]
print(min(min_list2))

a
23

In [130]:
min_list3 = ['a', 'b', 'c', 'd', 'e', 'f', 67, 98, 34, 56, 23]
print(min(min_list3))

TypeError: '<' not supported between instances of 'int' and 'str'

### `max()` function

In [131]:
min_list = ['a', 'b', 'c', 'd', 'e', 'f']
print(max(min_list))

min_list2 = [67, 98, 34, 56, 23, 81]
print(max(min_list2))

f
98

In [132]:
min_list3 = ['a', 'b', 'c', 'd', 'e', 'f', 67, 98, 34, 56, 23]
print(max(min_list3))

TypeError: '>' not supported between instances of 'int' and 'str'

### `len()` function

In [133]:
min_list = ['a', 'b', 'c', 'd', 'e', 'f']
print(len(min_list))

min_list2 = [67, 98, 34, 56, 23, 81]
print(len(min_list2))

6
6

In [134]:
min_list3 = ['a', 'b', 'c', 'd', 'e', 'f', 67, 98, 34, 56, 23]
print(len(min_list3))

11

### Python List Methods

| Method | Description |
|:----| :--- |
| **[append()]** | Add an element to the end of the list | 
| **[extend()]** | Add all elements of a list to the another list |
| **[insert()]** | Insert an item at the defined index |
| **[remove()]** | Removes an item from the list |
| **[pop()]** | Removes and returns an element at the given index 
| **[clear()]** | Removes all items from the list |
| **[index()]** | Returns the index of the first matched item | 
| **[count()]** | Returns the count of the number of items passed as an argument |
| **[sort()]** | Sort items in a list in ascending order |
| **[reverse()]** |  Reverse the order of items in the list |
| **[copy()]** | Returns a shallow copy of the list |

### List Comprehension: A Classy method to Create New list

#### List Comprehension vs String vs For Loop in Python

In [1]:
name = 'Olalekan'

newlist = list(name)
print(newlist)
print(type(newlist))

['O', 'l', 'a', 'l', 'e', 'k', 'a', 'n']
<class 'list'>

In [2]:
list_letters = []

for letter in name:
    list_letters.append(letter)
    
print(list_letters)
print(type(list_letters))

['O', 'l', 'a', 'l', 'e', 'k', 'a', 'n']
<class 'list'>

In [3]:
list_letters = [letter for letter in name]
print(list_letters)
print(type(list_letters))

['O', 'l', 'a', 'l', 'e', 'k', 'a', 'n']
<class 'list'>

#### Syntax of List Comprehension

```python
[expression for item in list]
```

<div>
   <img src ="img/exlc.png" width="300" />
   </div>

#### Conditionals in List Comprehension

In [5]:
#Example: Program to generate power of a number

power = [2 ** x for x in range (20)]
print(power)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 524288]

In [6]:
power = []

for x in range(20):
    power.append(2 ** x)
print(power)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 524288]

Optionally, a list comprehension can contain more for or if statements. These optional for or if statements can filter out items for the new list

In [7]:
#For instance if you want to generate list of numbers

numbers = [i for i in range(10)]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
#For instance when you want to perform mathematical operations during iteration

squares = [i * i for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
# It is also possible to use this to create a list of tuples

tuplelist = [(i, i * i) for i in range(10)]
print(tuplelist)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [11]:
power2 = [3 ** x for x in range(10) if x > 5]

print(power2)

[729, 2187, 6561, 19683]

#### List Comprehension can be combined with if Statements

In [12]:
numberList = [x for x in range(30) if x % 2 == 0]
print(numberList)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [13]:
numberList1 = [x for x in range(30) if x % 2 != 0]
print(numberList1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [15]:
#Example: Filter out positive even number from the list

numebersList = [-12, -10, -11, -9, -1, 0, 3, 5, 8, 9, 7, 6, 4]

positive_even_Numbers = [x for x in range (11) if x % 2 == 0 and x > 0]
print(positive_even_Numbers)

[2, 4, 6, 8, 10]

In [16]:
###Flatten a 3 dimension

list_of_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

flattened_list = [number for row in list_of_list for number in row]
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Python Tuple

### What is Tuple in Python

| Data Types        | Type         |         |
| :---------------: | :-----------:| :------:|
| **String**        | **immutable**   |
| **List**          | **mutable**     |
| **Tuple**          | **immutable**     |

<div>
   <img src ="img/t0.png" width="500" />
   </div>

### Creating Python Tuple

In [17]:
my_tuple = ()
print(my_tuple)

my_tuple = (1, 6, 8)
print(my_tuple)

my_tuple = (1, "Ajoke", "Ajike", "Omolola", 5.9, 7.6)
print(my_tuple)

my_tuple = ("Animal", ['Olalekan', 13, 86, "Adebanji"], (12, 87, 94))
print(my_tuple)

()
(1, 6, 8)
(1, 'Ajoke', 'Ajike', 'Omolola', 5.9, 7.6)
('Animal', ['Olalekan', 13, 86, 'Adebanji'], (12, 87, 94))

It is also possible to create a tuple without enclosing them in the parentheses. This practice is known as tuple packing

In [18]:
my_tuple = 4, 89, "Olalekan"
print(my_tuple)

(4, 89, 'Olalekan')

In [19]:
#unpcking the tuple

a, b, c = my_tuple

print(a)
print(b)
print(c)

4
89
Olalekan

### Accessing Tuple Elements

#### Indexing

In [22]:
name = ("O","m","o","l","o", "l", "a")
print(name[0])
print(name[1])
print(name[5])

print("Last index: ", len(name) - 1)

O
m
l
Last index:  6

#### Negative Indexing

In [23]:
name = ("O","m","o","l","o", "l", "a")
print(name[-1])
print(name[-7])
print(name[-6])

a
O
m

#### Slicing

In [24]:
name = ("O","m","o","l","o", "l", "a")
print(name[1:4])
print(name[3:])
print(name[:])

('m', 'o', 'l')
('l', 'o', 'l', 'a')
('O', 'm', 'o', 'l', 'o', 'l', 'a')

### Tuple Operations

#### Changing a Tuple

In [25]:
my_tuple = (4, 5, 7, [6, 8, 9])

my_tuple[1] = 9

TypeError: 'tuple' object does not support item assignment

In [27]:
my_tuple[3][0] = 10

print(my_tuple)

(4, 5, 7, [10, 8, 9])

In [28]:
my_tuple = ("O","m","o","l","o", "l", "a")
print(my_tuple)

('O', 'm', 'o', 'l', 'o', 'l', 'a')

You can also use the `+` operator to concatenate or combine two tuples. Its called concatenation

You can also rpeate the lements in a tuples for a given number of times using the `*` operator

Both `+` and `*` will result in a new tuple

In [30]:
numberlist1 = (5, 8, 13, 12, 78)
namelist1 = ("Olalekan", "Ademola", "Adeoti")

print(numberlist1 + namelist1)
print(namelist1 * 3)

(5, 8, 13, 12, 78, 'Olalekan', 'Ademola', 'Adeoti')
('Olalekan', 'Ademola', 'Adeoti', 'Olalekan', 'Ademola', 'Adeoti', 'Olalekan', 'Ademola', 'Adeoti')

#### Deleting a Tuple

In [37]:
print(numberlist1)

del numberList1[2]

print(numberlist1)

del numberList1
print(numberlist1)

(5, 8, 13, 12, 78)
(5, 8, 13, 12, 78)
(5, 8, 13, 12, 78)

In [39]:
t = ("Olalekan", "Data Science", 1, 8, 9)
print(t)

del t
print(t)

('Olalekan', 'Data Science', 1, 8, 9)

NameError: name 't' is not defined

### Python Built-in Tuple Functions

| Function | Description |
|:----| :--- |
| **[len()]** |  Returns number of elements in a tuple. | 
| **[max()]** |  Returns item from the tuple with max value. | 
| **[min()]** |  Returns item from the tuple with min value.  | 
| **[sorted()]** |  Returns a new sorted list of sequence in the tuple. | 
| **tuple()** |  Converts a sequence into tuple.  | 
| **cmp()** |  Compares items of two tuples. (Not available in Python 3).  |

##### `len()` function

In [40]:
t = ("Olalekan", "Data Science", 1, 8, 9)
t1 = ("Olalekan", "Data Science", 1, 8, 9, [78, 90, 14], (78, 43, 32, 12))
print(len(t))
print(len(t1))

5
7

##### `max()` function

In [41]:
t = ("Olalekan", "Data Science" "Ademola", "Adeyemi")
t1 = (78, 43, 32, 12, 15, 89, 56)
print(max(t))
print(max(t1))

Olalekan
89

##### `min()` function

In [42]:
t = ("Olalekan", "Data Science" "Ademola", "Adeyemi")
t1 = (78, 43, 32, 12, 15, 89, 56)
print(min(t))
print(min(t1))

Adeyemi
12

##### `Sorted()` function

In [44]:
t = ("Olalekan", "Data Science" "Ademola", "Adeyemi")
t1 = (78, 43, 32, 12, 15, 89, 56)
print(sorted(t))
print(sorted(t, reverse = True))
print(sorted(t1))
print(sorted(t1, reverse = True))

['Adeyemi', 'Data ScienceAdemola', 'Olalekan']
['Olalekan', 'Data ScienceAdemola', 'Adeyemi']
[12, 15, 32, 43, 56, 78, 89]
[89, 78, 56, 43, 32, 15, 12]

##### `Tuple()` function

In [45]:
name = "Olalekan Samuel Ogunleye"
tupleconvert = tuple(name)
print(tupleconvert)

('O', 'l', 'a', 'l', 'e', 'k', 'a', 'n', ' ', 'S', 'a', 'm', 'u', 'e', 'l', ' ', 'O', 'g', 'u', 'n', 'l', 'e', 'y', 'e')

### Tuple Methods

| Method | Description |
|:----| :--- |
| **[count()]** |  Returns the number of times the specified element appears in the tuple. | 
| **[index()]** |  the index of the specified element in the tuple. |

In [46]:
my_tuple = ('O', 'l', 'a', 'l', 'e', 'k', 'a', 'n', ' ', 'S', 'a', 'm', 'u', 'e', 'l', ' ', 'O', 'g', 'u', 'n', 'l', 'e', 'y', 'e')
print(my_tuple.count('a'))
print(my_tuple.count('l'))

3
4

##### Tuple Membership Test

In [47]:
my_tuple = ('O', 'l', 'a', 'l', 'e', 'k', 'a', 'n')

#In membership Operation
print('a' in my_tuple)
print('b' in my_tuple)

#In membership Operation
print('b' not in my_tuple)

True
False
True

##### Iterating through a tuple

In [49]:
names = ("Olalekan", "Olusola", "Ademola", "Adeyemi")

for name in names:
    print("Hello", name, ". How are you doing today")

Hello Olalekan . How are you doing today
Hello Olusola . How are you doing today
Hello Ademola . How are you doing today
Hello Adeyemi . How are you doing today

## Python Dictionary

### What is Dictionary in Python?

| Data Types        | Type         |         |
| :---------------: | :-----------:| :------:|
| **String**        | **immutable**   |
| **List**          | **mutable**     |
| **Tuple**         | **immutable**     |
| **Dictionary**        |     **mutable** (Only the Value)     |

<div>
   <img src ="img/d0.png" width="500" />
   </div>

### Creating Python Dictionary

In [53]:
my_dict = {}
print(my_dict)

my_dict1 = {1:'Oranges', 2:"Apple"}
print(my_dict1)

my_dict2 = {1:"Mangoes", 2:"Berries", "Name":"Olalekan Samuel", "Scores":[98, 67, 89, 75], 
           "Colour":("Yellow", "Red", "Green")}
print(my_dict2)

my_dict3 = dict([(1, "Apple"), (2, "Banana")])
print(my_dict3)

{}
{1: 'Oranges', 2: 'Apple'}
{1: 'Mangoes', 2: 'Berries', 'Name': 'Olalekan Samuel', 'Scores': [98, 67, 89, 75], 'Colour': ('Yellow', 'Red', 'Green')}
{1: 'Apple', 2: 'Banana'}

### Accessing Elements from Dictionary

In [54]:
progLang = {1:"C#", 2:"Java", 3:"Python", 4:'Maya', 5:'C++'}

print(progLang[1])

C#

In [55]:
print(progLang['c'])

KeyError: 'c'

In [56]:
print(progLang[3])

Python

In [59]:
print(progLang.get('c'))

None

#### Iterating through the dictionary

To iterate through the dictionary with a for loop, you use the `keys()`, `values()`, and `items()` methods

In [60]:
for k in progLang:
    print(k)

1
2
3
4
5

In [61]:
for k in progLang.keys():
    print(k)

1
2
3
4
5

In [62]:
for v in progLang.values():
    print(v)

C#
Java
Python
Maya
C++

In [63]:
for k, v in progLang.items():
    print(k, v)

1 C#
2 Java
3 Python
4 Maya
5 C++

### Changing and Adding Dictionary elements

In [64]:
personal_details = {"Name": "Olalekan Samuel", "Date of Birth": "17/06/1999", 
                    "Address": "Somewhere in South Africa", "Next of Kin": "Ademola", "Age":23}

print(personal_details)

{'Name': 'Olalekan Samuel', 'Date of Birth': '17/06/1999', 'Address': 'Somewhere in South Africa', 'Next of Kin': 'Ademola', 'Age': 23}

In [65]:
personal_details["Age"] = 25
print(personal_details)

{'Name': 'Olalekan Samuel', 'Date of Birth': '17/06/1999', 'Address': 'Somewhere in South Africa', 'Next of Kin': 'Ademola', 'Age': 25}

In [66]:
personal_details["Address"] = "Somewhere in Nigeria. The place is in a city"
print(personal_details)

{'Name': 'Olalekan Samuel', 'Date of Birth': '17/06/1999', 'Address': 'Somewhere in Nigeria. The place is in a city', 'Next of Kin': 'Ademola', 'Age': 25}

### Removing elements from Dictionary

We can remove a particular item in a dictionary by using the **`pop()`** method. This method removes an item with the provided **`key`** and returns the **`value`**.

The **`popitem()`** method can be used to remove and return an arbitrary **`(key, value)`** item pair from the dictionary. All the items can be removed at once, using the **`clear()`** method.

We can also use the **`del`** keyword to remove individual items or the entire dictionary itself.

In [70]:
numbers = {1:2, 2:4, 4:20, 5:60, 3:15}
print(numbers)

{1: 2, 2: 4, 4: 20, 5: 60, 3: 15}

In [71]:
print(numbers.pop(4))
print(numbers)

20
{1: 2, 2: 4, 5: 60, 3: 15}

In [72]:
print(numbers.popitem())
print(numbers)

(3, 15)
{1: 2, 2: 4, 5: 60}

In [73]:
numbers.clear()
print(numbers)

{}

In [74]:
del numbers
print(numbers)

NameError: name 'numbers' is not defined

In [76]:
progLang = {1:"C#", 2:"Java", 3:"Python", 4:'Maya', 5:'C++'}
print(progLang)

{1: 'C#', 2: 'Java', 3: 'Python', 4: 'Maya', 5: 'C++'}

In [77]:
del progLang[3]
print(progLang)

{1: 'C#', 2: 'Java', 4: 'Maya', 5: 'C++'}

### Dictionary Built-in Dictionary Functions

| Function | Description |
|:----| :--- |
| **[all()]** | Returns **`True`** if all keys of the dictionary are true (or if the dictionary is empty). | 
| **[any()]** | Returns **`True`** if any key of the dictionary is true. If the dictionary is empty, return **`False`**. | 
| **[len()]** | Returns the length (the number of items) in the dictionary. | 
| **cmp()** | Compares items of two dictionaries. (Not available in Python 3). | 
| **[sorted()]** | Returns a new sorted list of keys in the dictionary. | 
| **[str()]** | Produces a printable string representation of a dictionary. | 
| **[type()]** | Returns the type of the passed variable. If passed variable is dictionary,then it would return a dictionary type. |

In [79]:
numbers = {0:0, 1:2, 2:4, 4:20, 5:60, 3:15}
print(numbers)

{0: 0, 1: 2, 2: 4, 4: 20, 5: 60, 3: 15}

In [80]:
print(all(numbers))

False

In [81]:
print(any(numbers))

True

In [82]:
print(len(numbers))

6

In [83]:
print(sorted(numbers))

[0, 1, 2, 3, 4, 5]

### Python Dictionary Methods

| Method | Description |
|:----| :--- |
| **[clear()]** | Removes all items from the dictionary. | 
| **[copy()]** | Returns a shallow copy of the dictionary. | 
| **[fromkeys(seq[, v])]** | Returns a new dictionary with keys from **`seq`** and value equal to **`v`** (defaults to **`None`**). | 
| **[get(key[,d])]** | Returns the value of the **`key`**. If the **`key`** does not exist, returns **`d`** (defaults to **`None`**). | 
| **[items()]** | Return a new object of the dictionary's items in **`(key, value)`** format. | 
| **[keys()]** | Returns a new object of the dictionary's keys. | 
| **[pop(key[,d])]** | Removes the item with the **`key`** and returns its value or **`d`** if **`key`** is not found. If **`d`** is not provided and the **`key`** is not found, it raises **`KeyError`**. | 
| **[popitem()]** | Removes and returns an arbitrary item **`(key, value)`**. Raises **`KeyError`** if the dictionary is empty. | 
| **[setdefault(key[,d])]** | Returns the corresponding value if the **`key`** is in the dictionary. If not, inserts the **`key`** with a value of **`d`** and returns **`d`** (defaults to **`None`**). | 
| **[update([other])]** | Updates the dictionary with the key/value pairs from **`other`**, overwriting existing keys. |  
| **[values()]** | Returns a new object of the dictionary's values. |

### Python Dictionary Comprehension

Dictionary comprehension is an elegant and concise way to create a new dictionary from an iterable in Python.

Dictionary comprehension consists of an expression pair **`(key: value)`** followed by a **`for`** statement inside curly braces **`{}`**.

Here is an example to make a dictionary with each item being a pair of a number and its square.

In [84]:
sqaurenumbers = {x: x*x for x in range(9)}
print(sqaurenumbers)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [85]:
odd_square_numbers = {x: x*x for x in range(13) if x %2 ==1}
print(odd_square_numbers)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81, 11: 121}

#### Other Dictionary Operations

In [86]:
#Example: Testing Membership Operation in Dictionary Keys

squarenumbers = {1:1, 2:4, 3:9, 4:16, 7:49, 8:64, 9:81, 10:100}

print(2 in sqaurenumbers)

print(11 not in sqaurenumbers)

print(100 in sqaurenumbers)

True
True
False

In [87]:
#Example: Iterating through the dictionary
for i in sqaurenumbers:
    print(sqaurenumbers[i])

0
1
4
9
16
25
36
49
64

## Python Sets

### What is Set in Python?

| Data Types        | Type         |         |
| :---------------: | :-----------:| :------:|
| **String**        | **immutable**   |
| **List**          | **mutable**     |
| **Tuple**         | **immutable**     |
| **Dictionary**        |     **mutable** (Only the Value)     |
| **Set**         | **immutable**     |

### Creating Python Sets

In [89]:
#set of integers
my_set = {1, 5, 7, 6, 8, 10, 9}

print(my_set)

#set of mixed data types
my_set = {1, 5, 7, "Olalekan", 6, 8, (10, 9)}

print(my_set)

{1, 5, 6, 7, 8, 9, 10}
{1, 5, 6, 7, 8, (10, 9), 'Olalekan'}

In [90]:
#set cannot have duplicates
my_set = {1, 5, 10, 7, 9, 1, 6, 8, 6, 10, 9}
print(my_set)

{1, 5, 6, 7, 8, 9, 10}

In [91]:
#You can also make set from a list
my_set = set([1, 5, 10, 7, 9, 1, 6, 8, 6, 10, 9])
print(my_set)

{1, 5, 6, 7, 8, 9, 10}

In [92]:
my_set = {1, 6, (3,4)}
print(my_set)

{1, (3, 4), 6}

In [93]:
my_set = {1, 2,[3,4]}
print(my_set)

TypeError: unhashable type: 'list'

### Creating and Empty Set

In [96]:
x = {}
print(type(x))

<class 'dict'>

In [97]:
#Creating an empty set involves using the set() function without any argument
x = set()
print(type(x))

<class 'set'>

### Modifying a set in Python

Sets are mutable. However, since they are unordered, indexing has no meaning.

It is not possible to access or change an element of a set using indexing or slicing, because this is not supported by the Set data type.

However, you can add a single element using the **`add()`** method, and you can add multiple elements using the **`update()`** method. The **`update()`** method can take **[tuples]**, **[lists]**, **[strings]** or other sets as part of its argument. But take note that in every case, duplicates will be avoided.

In [98]:
my_set = {1, 6}
print(my_set)

{1, 6}

In [99]:
my_set[0]

TypeError: 'set' object is not subscriptable

In [100]:
#Adding elements to set
my_set.add(2)
print(my_set)

{1, 2, 6}

In [101]:
#Adding Multiple elemnts
my_set.update([2, 3, 4, 5, 6, 7])
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [102]:
#You can also add list and set into the set
my_set.update([1,7], (8,9,10), (1,5,9,10))
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Removing elements from a set

It is possible for you to remove a particular item from a set using the methods **`discard()`** and **`remove()`**.

The only difference between these two methods is that the **`discard()`** methods leaves the set unchanged in a situation where the element is not present in the set, while the **`remove()`** method will raise an error if element is not present in the set.

In [103]:
#initialize my_set
my_set = {1, 3, 4, 5, 6, 9}
print(my_set)

{1, 3, 4, 5, 6, 9}

In [104]:
#discard an element from the set
my_set.discard(4)
print(my_set)

{1, 3, 5, 6, 9}

In [105]:
#Remove an element from the set
my_set.remove(6)
print(my_set)

{1, 3, 5, 9}

In [106]:
#discard an element that is not present in the set
my_set.discard(4)
print(my_set)

{1, 3, 5, 9}

In [107]:
#remove an element that is not present in the set
my_set.remove(4)
print(my_set)

KeyError: 4

In [113]:
#initialize my_set
my_set = set("Python Fundamentals")
print(my_set)

{'u', 'F', 'd', 'a', 'm', 'l', 't', 'n', ' ', 'o', 'y', 'P', 'h', 's', 'e'}

In [116]:
#pop an element from the set
print(my_set.pop())

d

In [117]:
#pop an element from the set
print(my_set.pop())

a

In [119]:
#clear my_set
my_set.clear()
print(my_set)

set()

### Python Set Operations

Sets can be used to carry out basic mathematical operations like Union, intersection and symmetric diiference. 

This can be achieved with the relevant operators or with the methods that come with sets

```python
A = {1, 2, 3, 4, 5, 6, 7}

B = {4, 5, 6, 3, 8, 9, 10}
```

### Set Union

<div>
<img src="img/set1.png" width="300" />
</div>

Union of sets A and B is a set of all elements from both sets

You can perform Union using the `|` Operator or the union method

In [120]:
A = {1, 2, 3, 4, 5, 6, 7}
B = {4, 5, 6, 3, 8, 9, 10}

print (A|B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [121]:
print(A.union(B))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [122]:
print(B.union(A))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Set Intersection

<div>
<img src="img/set2.png" width="300" />
</div>

Intersection of sets A and B is a set of elements that are common to both sets
You can perform intersection using the `&` Operator or the intersection method

In [123]:
A = {1, 2, 3, 4, 5, 6, 7}
B = {4, 5, 6, 3, 8, 9, 10}

print (A&B)

{3, 4, 5, 6}

In [124]:
print(A.intersection(B))

{3, 4, 5, 6}

In [125]:
print(B.intersection(A))

{3, 4, 5, 6}

### Set Difference

<div>
<img src="img/set3.png" width="300" />
</div>

The difference of sets **`B`** from set **`A`**, **`(A-B)`** is a set of elements that are only in **`A`** but not in **`B`**

You can perform intersection using the `-` Operator or the difference method

In [127]:
A = {1, 2, 3, 4, 5, 6, 7}
B = {4, 5, 6, 3, 8, 9, 10}

In [128]:
print(A-B)

{1, 2, 7}

In [129]:
print(B-A)

{8, 9, 10}

In [130]:
print(A.difference(B))

{1, 2, 7}

In [131]:
print(B.difference(A))

{8, 9, 10}

### Set Symmetric Difference

<div>
<img src="img/set3.png" width="300" />
</div>

The Symmetric difference of sets **`A`** and set **`B`** is a set of elements in **`A`** and  **`B`** but not in not both (excluding the intersection)

You can perform Symmetric difference using the `^` Operator or the symmetric_difference method

In [132]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [133]:
print(A^B)

{1, 2, 3, 6, 7, 8}

In [134]:
print(B^A)

{1, 2, 3, 6, 7, 8}

In [135]:
print(A.symmetric_difference(B))

{1, 2, 3, 6, 7, 8}

In [136]:
print(B.symmetric_difference(A))

{1, 2, 3, 6, 7, 8}

### Built-in Functions with Set

| Function | Description | 
|:---- |:---- |
| ****[all()]**** | Returns **`True`** if all elements of the set are true (or if the set is empty). |
| **[any()]** | Returns **`True`** if any element of the set is true. If the set is empty, returns **`False`**. |
| **[enumerate()]** | Returns an enumerate object. It contains the index and value for all the items of the set as a pair. |
| **[len()]** | Returns the length (the number of items) in the set. |
| **[max()]** | Returns the largest item in the set. |
| **[min()]** | Returns the smallest item in the set. |
| **[sorted()]** | Returns a new sorted list from elements in the set(does not sort the set itself). |
| **[sum()]** | Returns the sum of all elements in the set. |

In [137]:
my_set = {1,2,3,4,5}
my_set2 = {1,2,4,4,5,0} 
my_set3 = ('x', 'y', 'z', (1,2,3), 7)

print(all(my_set))
print(all(my_set2))
print(all(my_set3))

True
False
True

In [138]:
my_set = {1,2,3,4,5}
my_set2 = {1,2,4,4,5,0} 
my_set3 = ('x', 'y', 'z', (1,2,3), 7)

print(any(my_set))
print(any(my_set2))
print(any(my_set3))

True
True
True

In [139]:
my_set = {1,2,3,4,5}
my_set2 = {1,2,4,4,5,0} 
my_set3 = ('x', 'y', 'z', (1,2,3), 7)

print(enumerate(my_set))
print(enumerate(my_set2))
print(enumerate(my_set3))

<enumerate object at 0x00000138E976A340>
<enumerate object at 0x00000138E97EB540>
<enumerate object at 0x00000138E98A6EC0>

In [142]:
my_set = {1,2,3,4,5}
my_set2 = {1,2,4,4,5,0} 
my_set3 = ('x', 'y', 'z', (1,2,3), 7)

setenum1 = enumerate(my_set)
setList1 = list(setenum1)

setenum2 = enumerate(my_set2)
setList2 = list(setenum2)

setenum3 = enumerate(my_set3)
setList3 = list(setenum3)

print(setList1)
print(setList2)
print(setList3)

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]
[(0, 0), (1, 1), (2, 2), (3, 4), (4, 5)]
[(0, 'x'), (1, 'y'), (2, 'z'), (3, (1, 2, 3)), (4, 7)]

In [143]:
my_set = {1,2,3,4,5}
my_set2 = {1,2,4,4,5,0} 
my_set3 = ('x', 'y', 'z', (1,2,3), 7)

print(len(my_set))
print(len(my_set2))
print(len(my_set3))

5
5
5

In [145]:
my_set = {1,2,3,4,5}
my_set2 = {1,2,4,4,5,0} 
#my_set3 = ('x', 'y', 'z', (1,2,3), 7)

print(max(my_set))
print(max(my_set2))
#print(max(my_set3))

5
5

In [146]:
my_set = {1,2,3,4,5}
my_set2 = {1,2,4,4,5,0} 
#my_set3 = ('x', 'y', 'z', (1,2,3), 7)

print(min(my_set))
print(min(my_set2))
#print(len(my_set3))

1
0

In [147]:
my_set = {1,2,3,4,5}
my_set2 = {1,2,4,4,5,0} 
my_set3 = ('x', 'y', 'z', (1,2,3), 7)

print(sorted(my_set))
print(sorted(my_set2))
print(sorted(my_set3))

[1, 2, 3, 4, 5]
[0, 1, 2, 4, 5]

TypeError: '<' not supported between instances of 'tuple' and 'str'

In [149]:
my_set = {1,2,3,4,5}
my_set2 = {1,2,4,4,5,0} 
my_set3 = ('x', 'y', 'z','a', 'e','c,')

print(sorted(my_set))
print(sorted(my_set2))
print(sorted(my_set3))

[1, 2, 3, 4, 5]
[0, 1, 2, 4, 5]
['a', 'c,', 'e', 'x', 'y', 'z']

In [151]:
my_set = {1,2,5, 7,8,3,4,5}
my_set2 = {1,2,4,4,58,7,0} 

print(sum(my_set))
print(sum(my_set2))

30
72

## Other Python Set Methods

| Method | Operator | Description |
|:---- |:---- |:--- |
| **[add()]** |  |  Adds an element to the set. | 
| **[copy()]** |  |  Returns a copy of the set. | 
| **[remove()]** |  |  Removes an element from the set. If the element is not a member, raises a **`KeyError`**. |
| **[discard()]** |  |  Removes an element from the set if it is a member. (Do nothing if the element is not in set). | 
| **[pop()]** |  |  Removes and returns an arbitrary set element. Raises **`KeyError`** if the set is empty. | 
| **[clear()]** |  |  Removes all elements from the set. | 
| **[union()]** | **`A \| B`** |  Returns the union of sets in a new set. | 
| **[update()]** | **`A \|= B`** |  Updates the set with the union of itself and others. | 
| **[intersection()]** | **`A & B`** |  Returns the intersection of two sets as a new set. | 
| **[intersection_update()]** | **`A &= B`** |  Updates the set with the intersection of itself and another. | 
| **[isdisjoint()]** |  |  Returns **`True`** if two sets have a null intersection. | 
| **[difference()]** | **`A – B`** |  Returns the difference of two or more sets as a new set. | 
| **[difference_update()]** | **`A -= B`** |  Removes all elements of another set from this set. | 
| **[symmetric_difference()]** | **`A ^ B`** |  Returns the symmetric difference of two sets as a new set. | 
| **[symmetric_difference_update()]** | **`A ^= B`** |  Updates a set with the symmetric difference of itself and another. | 
| **[issubset()]** | **`A <= B`** |  Returns **`True`** if another set contains this set. | 
| **[issuperset()]** | **`A >= B`** | Returns **`True`** if this set contains another set. |

### Other Set Operations

#### 1. Set Membership Test

In [157]:
my_set = set('OlalekanSamuel')
print(my_set)

#Checking if 'a' is present in the set
print('a' in my_set)

#Checking if 'p' is present in the set
print('p' in my_set)

#Checking if 'p' is not present in the set
print('p' not in my_set)

{'u', 'a', 'l', 'k', 'm', 'n', 'O', 'S', 'e'}
True
False
True

#### 2. Iterating through a set

In [158]:
my_set = set('OlalekanSamuel')
print(my_set)

for eachletter in my_set:
    print(eachletter)

{'u', 'a', 'l', 'k', 'm', 'n', 'O', 'S', 'e'}
u
a
l
k
m
n
O
S
e

### Python Frozenset

A frozen set is a new class that has the characteristics of a set, however its elements cannot be
changed once it is assisgned

To create a frozensets, you will use the `frozenset()`fucntion

#### Frozenset Methods 
**`copy()`**, **`union()`**, **`intersection()`**, **`difference()`**, **`symmetric_difference()`**, **`isdisjoint()`**, **`issubset()`**, and **`issuperset()`**.

In [161]:
#Example : Frozensets

A = frozenset([1, 3, 4, 6])

B = frozenset([3, 4, 5, 7])

In [162]:
A.isdisjoint(B)

False

In [163]:
A.difference(B)

frozenset({1, 6})

In [164]:
A|B

frozenset({1, 3, 4, 5, 6, 7})

In [165]:
A.add(8)

AttributeError: 'frozenset' object has no attribute 'add'

In [166]:
# Example on Frozensets methods

A = frozenset([1,2,3,4])
B = frozenset([3,4,5,6])

In [167]:
#Copying a frozenset
C=A.copy()
print(C)

frozenset({1, 2, 3, 4})

In [169]:
#Union
print(A.union(B))

frozenset({1, 2, 3, 4, 5, 6})

In [170]:
#intersection
print(A.intersection(B))

frozenset({3, 4})

In [171]:
#difference
print(A.difference(B))

frozenset({1, 2})

In [172]:
#Symmetric Difference
print(A.symmetric_difference(B))

frozenset({1, 2, 5, 6})

Looking at the examples for `isdisjoint()`, `issubset()`, and `issuperset()`

In [174]:
#initialize A, B , C Variables

A = frozenset([1,2,3,4])
B = frozenset([3,4,5,6])
C = frozenset([5,6])

In [175]:
#isdisjoint()
print(A.isdisjoint(C))

True

In [176]:
#issubset()
print(C.issubset(B))

True

In [177]:
#issuperset()
print(B.issuperset(C))

True