### Control Flow:

It is divided into 3 Categories:
1. Conditional Statements
    - if
    - if-else
    - if-elif-else
    - nested-if
2. Iterative Statements
    - for loop
    - while loop
3. Transfer/Control Statements
    - break statements
    - continue statements
    - pass statements

### Python `if` Statement

#### Syntax:

    if (condition):
        statement 1
        statement 2
        ...
        statement n
None and 0 are interpreted as false by Python

In [3]:
grade = 80
if (grade >= 75):
    print("You have passed with distinction")

You have passed with distinction

In [6]:
#Check if the number is positive or negative and print the appropriate number
num = 4 #the test expression
if (num > 0):
    print(num, "is a positive number")
    
num1 = -1
if (num1 > 0):
    print(num1, "is a negative number")

4 is a positive number

In [7]:
#Calculate the square of a number if it is greater than 5

number = 10
if (number > 5):
    #Calculate the square
    print(number * number)

100

In [9]:
#check is number1 is less than number 2

number1, number2 = 7, 12

if (number1 < number2):
    print("Number 1 is less than number 2")

Number 1 is less than number 2

### Shortcut for `if` statement

In [10]:
number1, number2 = 7, 12

if (number1 < number2): print("Number 1 is less than number 2")

Number 1 is less than number 2

In [11]:
number1, number2 = 7, 12

if (number1 < number2):
    print("Number 1 is less than number 2")

Number 1 is less than number 2

### Python `if-else` statement

In [12]:
x = 5

if (x < 4):
    print("The value of x is less than 4")
    
if (x <= 4):
    print("The value of x is the same or lesser than 4")

Syntax for `if-else` Statment
``` python
    if (condition):
        statement 1
    else:
        statement 2
```

In [14]:
grade = 70

if grade >= 75:
    print("Well done you have passed with distinction")
    
else:
    print("Sorry, you have failed")

Sorry, you have failed

In [15]:
num = 4

if num >= 0:
    print("The number is positive")
    
else:
    print("The number is negative")

The number is positive

In [17]:
num = -4

if num >= 0:
    print("The number is positive")
    
else:
    print("The number is negative")

The number is negative

In [18]:
number1, number2 = 7, 12

if (number1 < number2):
    print("Number1 is less than number2")
    
else:
    print("number1 is greater than number2")

Number1 is less than number2

In [19]:
number1, number2 = 15, 12

if (number1 < number2):
    print("Number1 is less than number2")
    
else:
    print("number1 is greater than number2")

number1 is greater than number2

Shortcut of `if-else` statement

In [20]:
thirsty = True

y = 'Give me water!' if thirsty else 'Do not bring the water'

print(y)

Give me water!

### Python `if-elif-else` statement

#### Syntax:
```python
    if condition-1:
        statement-1
        
    elif condition-2:
        statement-2
        
    elif condition-3:
        statement-3
        
        ....
    else:
        statement
```

In [21]:
num = 3

#Lets also try these two variations as well

#num = 1
#num = - 6.5

if num > 0:
    print("This is a positive number")
elif num == 0:
    print("The number is zero")

else:
    print("This is a negative number")

This is a positive number

In [22]:
num = -6.5

#Lets also try these two variations as well

#num = 1
#num = - 6.5

if num > 0:
    print("This is a positive number")
elif num == 0:
    print("The number is zero")
else:
    print("This is a negative number")

This is a negative number

In [23]:
number1, number2 = 10, 10

if(number1 > number2):
    print("number1 is greater than number2")
elif(number1 == number2):
    print("number1 is the same as number 2")
else:
    print("Number1 is less than number2")

number1 is the same as number 2

In [24]:
number1, number2 = 10, 5

if(number1 > number2):
    print("number1 is greater than number2")
elif(number1 == number2):
    print("number1 is the same as number 2")
else:
    print("Number1 is less than number2")

number1 is greater than number2

In [25]:
x = 20
y = 32

if x > y:
    print("X is greater than Y")
elif x < y:
    print("X is less than Y")
else:
    print("X is the same as Y")

X is less than Y

In [26]:
grade = 95

if grade >= 90:
    print("The Grade is A - Excellent Result")
elif grade >= 85:
    print("The Grade is B - Good Result")
elif grade >= 75:
    print("The Grade is C - Fair Result")
elif grade >= 65:
    print("The Grade is D - You can do better")
elif grade >= 55:
    print("The Grade is E - Not good Result")
else:
    print("This is a failing grade")

The Grade is A - Excellent Result

In [30]:
grade = 68

if grade >= 90:
    print("The Grade is A - Excellent Result")
elif grade >= 85:
    print("The Grade is B - Good Result")
elif grade >= 75:
    print("The Grade is C - Fair Result")
elif grade >= 65:
    print("The Grade is D - You can do better")
elif grade >= 55:
    print("The Grade is E - Not good Result")
else:
    print("This is a failing grade")

The Grade is D - You can do better

### `if-elif-else` Statement with `and` Logical Operator

##### Syntax

``` python
if condition and condition:
    
```

In [31]:
x = 0

if x > 0 and x % 2 == 0:
    print("X is an even number and positive number")
elif x > 0 and x % 2 != 0:
    print("X is a positive integer number alone")
elif x == 0:
    print("X is zero")
else:
    print("X is a negative number")

X is zero

In [32]:
x = 5

if x > 0 and x % 2 == 0:
    print("X is an even number and positive number")
elif x > 0 and x % 2 != 0:
    print("X is a positive integer number alone")
elif x == 0:
    print("X is zero")
else:
    print("X is a negative number")

X is a positive integer number alone

### `if-elif-else` Statement with `or` Logical Operator

#### Syntax
if condition or condition:|

In [33]:
username = "olalekan"
accessLevel = 4

if username == "Logan" or accessLevel >= 5:
    print("Access Denied")
elif (username == "olalekan" or accessLevel <= 4):
    print("Access Granted")
else:
    print("You are not permitted to access this")

Access Granted

In [34]:
username = "Logan"
accessLevel = 4

if username == "Logan" or accessLevel >= 5:
    print("Access Denied")
elif (username == "olalekan" or accessLevel <= 4):
    print("Access Granted")
else:
    print("You are not permitted to access this")

Access Denied

In [35]:
username = "ademola"
accessLevel = 4

if username == "Logan" or accessLevel >= 5:
    print("Access Denied")
elif (username == "olalekan" or accessLevel <= 4):
    print("Access Granted")
else:
    print("You are not permitted to access this")

Access Granted

### Python Nested `if` Statement

##### Syntax 1

``` python
if condition_outer:
    if condition_inner:
        else:
            statement of the nested if else:
        statement of the outer if
else:
    outer else
statement of the outside if block
```

##### Syntax 2

``` python
if expression1:
    statement(s)
    if expression2:
        statement(s)
    elif expression3:
        statement(s)
    elif expression4:
        statement(s)
    else:
        statement(s)
else:
    statement(s)

```

In [36]:
x = 12

if x >= 20: #The condition is false
    print("Condition is true")
else:  #The code will go to this point
    if x >=15:
        print("I am now checking the second value")
    else: #The code will go to this point
        print("All conditions seems to be false. none is true")

All conditions seems to be false. none is true

In [37]:
x = 12
y = 14

if x > y:
    print("X is greater than Y")
elif x < y:
    print("X is less than Y")
    
    if x == 12:
        print("X have the same value")
    else:
        print("invalid value")
else:
    print("X is equal to Y")

X is less than Y
X have the same value

In [38]:
num1 = 0

if num1 != 0:
    if (num1 > 0):
        print("num1 is a positive number")
    else:
        print("num1 is a negative number")
    
else:
    print("Num1 is either negative or positive")

Num1 is either negative or positive

### Python iterative Statements - Loops in Python

There are two types of looping statements in Python:

1. For Loop
2. While Loop

### For Loop

It is used to iterate over a sequence (String, List, Dictionary, Set, or Tuple)

Iterative over a sequence is called Traversal

### Syntax

```python
for element in sequence:
    body of for loop

```

In [1]:
#Example 1; For Loop
words = ["Olalekan", "Olushola", "Olode-Ankirun", "Boitumelo", "Oluwabunmi", "Omolola"]

for word in words:
    print(word)

Olalekan
Olushola
Olode-Ankirun
Boitumelo
Oluwabunmi
Omolola

In [3]:
#Example 2: Calculate the average of list of numbers

numbers = [20, 30, 50, 60, 70, 80]

#definite iteration
#run for loop 6 times because it contains 6 items

sum = 0

for number in numbers:
    sum = sum + number
size_of_list = len(numbers)
print("The size of the number is", size_of_list)
average = sum/size_of_list
print(average)

The size of the number is 6
51.666666666666664

### For Loop with a range() function

for i in range(10) -----> range(10) = Start = 0, Stop = 10, Step = 1

range(Start, Stop, Step)

In [4]:
#Example 1: How Range works in Python

#Empty range
print(list(range(0)))

#Using range with only Stop
print(list(range(20)))

#Using range with Start, Stop
print(list(range(1, 20)))

[]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
#Example 2: using For Loop with range() function

for number in range(50):
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [6]:
#Example 3: using For Loop with range() specifying the start and stop function

for number in range(1, 20):
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [7]:
#Example 4: using For Loop with range() specifying the start, stop, and step function

for number in range(2, 40, 2):
    print(number)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [8]:
#Example 5:

num = 3

for number in range(1, 10):
    print(num * number)

3
6
9
12
15
18
21
24
27

In [9]:
#example 6: Finding the sum of a 20

sum = 0

for number in range(1, 21):
    sum+=number
    print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210

In [11]:
#Example 7: Printing a series of numbers using the for loop and range function

print("Case 1:")
for number in range(10):
    print(number)

print("case 2:")
for number in range(10, 20):
    print (number)

print("Case 3:")
for number in range(10, 20, 2):
    print(number)

Case 1:
0
1
2
3
4
5
6
7
8
9
case 2:
10
11
12
13
14
15
16
17
18
19
Case 3:
10
12
14
16
18

### `for` Loop with `if-else`

In [12]:
#Example 1: Printing all even and odd numbers

for number in range (1, 31):
    if number % 2 == 0:
        print('Even Numbers:', number)
    else:
        print('Odd Numbers:', number)

Odd Numbers: 1
Even Numbers: 2
Odd Numbers: 3
Even Numbers: 4
Odd Numbers: 5
Even Numbers: 6
Odd Numbers: 7
Even Numbers: 8
Odd Numbers: 9
Even Numbers: 10
Odd Numbers: 11
Even Numbers: 12
Odd Numbers: 13
Even Numbers: 14
Odd Numbers: 15
Even Numbers: 16
Odd Numbers: 17
Even Numbers: 18
Odd Numbers: 19
Even Numbers: 20
Odd Numbers: 21
Even Numbers: 22
Odd Numbers: 23
Even Numbers: 24
Odd Numbers: 25
Even Numbers: 26
Odd Numbers: 27
Even Numbers: 28
Odd Numbers: 29
Even Numbers: 30

### `for` loop with `else`

In [14]:
numbers = [0, 4, 5, 7, 8, 9]

for number in numbers:
    print(number)
else:
    print("No more number left.")

0
4
5
7
8
9
No more number left.

In [15]:
for number in range(21):
    print(number)
else:
    print("The loop stops at", number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
The loop stops at 20

In [16]:
for number in range(1, 21):
    print(number)
else:
    print("I am done")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
I am done

In [17]:
employee_name = "Omolola Oluwabunmi"

salaries = {'Olalekan Samuel': 25000, "Akeem Olusola": 30000, "Boitumelo Samuel": 90000}

for employee in salaries:
    if employee == employee_name:
        print(salaries[employee])
        break
else:
    print("No Employee with that name exist")

No Employee with that name exist

In [20]:
counter = 0

for number in range(1, 7):
    counter = counter + 1
    if counter > 4:
        break
    else:
        print(number)
else:
    print("I am done")

1
2
3
4

### Using Control Statement in `for` loops

#### `break` in `for` loop

In [21]:
numbers = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
for number in numbers:
    print(number)
    if number == 6:
        break

0
1
2
3
4
5
6

In [22]:
names = ["Boitumelo", "Olusola", "Omolola", "Olubunmi", "Jane"]

for name in names:
    if (name == "Omolola"):
        break
print(name)

Omolola

In [23]:
numbers = [2, 7, 8, 25, 35, 45, 55, 67]
for number in numbers:
    if number > 15:
        break
    else:
        print(number)

2
7
8

In [24]:
for number in range(10):
    for num in range(10):
        if num == number:
            break
        print(number, num)

1 0
2 0
2 1
3 0
3 1
3 2
4 0
4 1
4 2
4 3
5 0
5 1
5 2
5 3
5 4
6 0
6 1
6 2
6 3
6 4
6 5
7 0
7 1
7 2
7 3
7 4
7 5
7 6
8 0
8 1
8 2
8 3
8 4
8 5
8 6
8 7
9 0
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8

#### `continue` in `for` loop

In [25]:
names = ["Boitumelo", "Olusola", "Omolola", "Olubunmi", "Jane"]

for name in names:
    if (name == "Omolola"):
        continue
print(name)

Jane

In [26]:
numbers = (0, 1, 2, 3, 4, 5, 6)
for number in numbers:
    print(number)
    if number == 4:
        continue
    print("The next number should be", number + 1) if number !=6 else print("The loop has ended")
print("This is outside of the loop")

0
The next number should be 1
1
The next number should be 2
2
The next number should be 3
3
The next number should be 4
4
5
The next number should be 6
6
The loop has ended
This is outside of the loop

In [28]:
number1 = [4, 8, 12]
number2 = [4, 8, 12]

for i in number1:
    for j in number2:
        if i == j:
            continue
        print(i,  "*", j, '= ', i*j)

4 * 8 =  32
4 * 12 =  48
8 * 4 =  32
8 * 12 =  96
12 * 4 =  48
12 * 8 =  96

In [29]:
name = "Olalekan Samuel"
counter = 0
for char in name:
    if char != 'm':
        continue
    else:
        counter = counter + 1
print("The Total number of m is:", counter)

The Total number of m is: 1

#### `pass` in `for` loop

In [30]:
for number in range(20):
    pass

In [31]:
numbers = [1, 4, 5, 3, 2, 7, 6, 9]

for number in numbers:
    pass

### Reverse for Loop

There are two ways to perform for loop backward iterations

1. Reverse for loop using the reversed() function
2. Reverse for loop using the range(0 function

### Backward Iteration using the `reversed()` function

In [32]:
myList = [10, 20, 30, 40, 50, 67, 79, 79, 90, 100]

for num in reversed(myList):
    print(num)

100
90
79
79
67
50
40
30
20
10

### Backward Iteration using the `range()` function

In [33]:
number = 10

for num in (range(number, -1, -1)):
    print(num)

10
9
8
7
6
5
4
3
2
1
0

### Other helper functions that can be used with the `for` loop

1. enumerate() function
2. zip()  function
3. sorted()  function
4. reverse()  function

In [39]:
print("Reversed: \t", end="")

for char in reversed("abcdefghijklmnopqrstuvwxyz"):
    print(char, end=";")
    
print("\nEnumerated: \t", end="")

for i, char in enumerate("abcdefghijklmnopqrstuvwxyz"):
    print(i, "=",char, end="; ")
    
print("\nZip'ed: \t", end="")

for a,x in zip("abcdefghijklm", "nopqrstuvwxyz"):
    print(a, ":", x)

Reversed: 	z;y;x;w;v;u;t;s;r;q;p;o;n;m;l;k;j;i;h;g;f;e;d;c;b;a;
Enumerated: 	0 = a; 1 = b; 2 = c; 3 = d; 4 = e; 5 = f; 6 = g; 7 = h; 8 = i; 9 = j; 10 = k; 11 = l; 12 = m; 13 = n; 14 = o; 15 = p; 16 = q; 17 = r; 18 = s; 19 = t; 20 = u; 21 = v; 22 = w; 23 = x; 24 = y; 25 = z;
Zip'ed: 	a : n
b : o
c : p
d : q
e : r
f : s
g : t
h : u
i : v
j : w
k : x
l : y
m : z

### Nested `for` Loops

### Syntax:

```python
#outer for Loop

for element in sequence:
    #inner for loop
    for element in sequence:
        body of the inner for loop
    body of the outer for loop
other statements
```

### `for` loop inside `for` loop

In [41]:
#Example 1: Multiplication table of the first ten numbers

#Outer loop

for number in range(1, 11):
    #nested loop
    for num in range(1,11): #we are trying to iterate from 1 to 10
        print(number * num, end= ' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [42]:
person = {
    "first_name": "Olalekan Samuel",
    "last_name": "Ogunleye",
    "age": 43,
    "country": "South Africa",
    "marital_status": True,
    "skills": ["Python", "C#", "Project management", "IT Consulting", "Soccer"],
    "address": {
        "Street": 'Midrand South Africa',
        "zipcode": 1624
    }
}

for key in person:
    if key == 'skills':
        for skill in person['skills']:
            print(skill)

Python
C#
Project management
IT Consulting
Soccer

In [47]:
#Example: Program to print a simple pyramid

rows = 5
for i in range(1, rows + 1):       #outer loop
    for j in range(1, i + 1):     #inner loop
        print("*", end= " ")
    print('')

*
* *
* * *
* * * *
* * * * *

In [48]:
for i in range(1,6):
    for j in range(1, i+1):
        print(i, end= " ")
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

### Accessing the index in the `for' Loop

In [3]:
# Example: Print the elements of the list with its index number by using the enumerate() function

myList = [4, 7, 6, 8, 10, 9, 3, 5, 2, 21]

for x, y in enumerate(myList):
    print('The number[', x, '] =', y)

The number[ 0 ] = 4
The number[ 1 ] = 7
The number[ 2 ] = 6
The number[ 3 ] = 8
The number[ 4 ] = 10
The number[ 5 ] = 9
The number[ 6 ] = 3
The number[ 7 ] = 5
The number[ 8 ] = 2
The number[ 9 ] = 21

In [4]:
# Example: Print the elements of the list with its index number by using the range() function

myList = [4, 7, 6, 8, 10, 9, 3, 5, 2, 21]

size = len(myList)

for i in range(size):
    print('Index:', i, " ", 'Value:', myList[i])

Index: 0   Value: 4
Index: 1   Value: 7
Index: 2   Value: 6
Index: 3   Value: 8
Index: 4   Value: 10
Index: 5   Value: 9
Index: 6   Value: 3
Index: 7   Value: 5
Index: 8   Value: 2
Index: 9   Value: 21

In [6]:
# Example: Iterating through a string using a membership Operator

programminglanguage = "Python"

for eachletter in programminglanguage:
    print(eachletter)

P
y
t
h
o
n

In [7]:
for i in range(len(programminglanguage)):
    print(programminglanguage[i])

P
y
t
h
o
n

In [8]:
for x in "Hello, welcome to this training":
    print(x)

H
e
l
l
o
,

w
e
l
c
o
m
e

t
o

t
h
i
s

t
r
a
i
n
i
n
g

In [9]:
name = "olalekan"

for i in name:
    print(i, end=" ")

o l a l e k a n

In [10]:
#Example: Iterating over a particular set of cahracter in a string

name = "Olalekan Samuel"
for char in name[2:7:1]:
    print(char, end= " ")

a l e k a

In [11]:
#Example: Iterate over words in a sentence using the split() function

words = "Join me and become a Python Programmer, Data Science and Machine Learning Expert. Learn one of most requested skills of 2023! This course is about the fundamental basics of Python and we will later move to Data Science, Data Analytics, Data Visualization and Machine Learning"
# using split on white space

for word in words.split():
    print(word)

Join
me
and
become
a
Python
Programmer,
Data
Science
and
Machine
Learning
Expert.
Learn
one
of
most
requested
skills
of
2023!
This
course
is
about
the
fundamental
basics
of
Python
and
we
will
later
move
to
Data
Science,
Data
Analytics,
Data
Visualization
and
Machine
Learning

### Iterating List using `for` Loop

In [12]:
# Example: Iterate over list
numbers = [12, 45, 76, 54, 89, 76, 54]

for num in numbers:
    print(num)

12
45
76
54
89
76
54

In [2]:
# Example: Iterate over list (List Comprehension)

numbers = [12, 45, 76, 54, 89, 76, 54]
[print (num) for num in numbers]

12
45
76
54
89
76
54

[None, None, None, None, None, None, None]

In [16]:
numbers = [12, 45, 76, 54, 89, 76, 54]

size = len(numbers)
#print(size)
for i in range(size):
    print(numbers[i])

12
45
76
54
89
76
54

In [17]:
#Example: printing the elements of a list using the for loop

even_numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18]

for i in even_numbers:
    print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [18]:
# Example: Calculating the square of each number using a for loop

numbers = [12, 45, 76, 54, 89, 76, 54]

#Iterate over each element in the list
for i in numbers:
    #Use the exponent operator
    square = i ** 2
    print("Square of:", i, 'is:', square)

Square of: 12 is: 144
Square of: 45 is: 2025
Square of: 76 is: 5776
Square of: 54 is: 2916
Square of: 89 is: 7921
Square of: 76 is: 5776
Square of: 54 is: 2916

In [20]:
# Example: Calculating the average of list of numbers using a for loop

numbers = [12, 45, 76, 54, 89, 76, 54]

sum = 0
for i in numbers:
    sum = sum + i
size_of_list = len(numbers)
average = sum/size_of_list
print(average)

58.0

### Iterating Tuple using `for` Loop

In [21]:
myTuple = (2, 4, 6, 8, 10, 12, 14, 16, 18)

for numbers in myTuple:
    print(numbers)

2
4
6
8
10
12
14
16
18

### Iterating Dictionary using `for` Loop

In [22]:
#Example: Iterating Over Dictionary by accessing only the keys

mydict = {"Name": "Olalekan Samuel", "Address":"Somewhere in South Africa", "Year": 2023}

for key in mydict:
    print(key)

Name
Address
Year

In [23]:
#Example: Iterating Over Dictionary by accessing the keys and values

mydict1 = {"Name": "Olalekan Samuel", "Address":"Somewhere in South Africa", "Year": 2023}

for key in mydict1:
    print(key, "--->", mydict1[key])

Name ---> Olalekan Samuel
Address ---> Somewhere in South Africa
Year ---> 2023

In [25]:
#Example: Iterating Over Dictionary by accessing only the values

mydict2 = {"Name": "Olalekan Samuel", "Address":"Somewhere in South Africa", "Year": 2023}

for value in mydict2.values():
    print(value)

Olalekan Samuel
Somewhere in South Africa
2023

In [32]:
#Example: for loop with dictionary. Looping through a dictionary to get the keys of the dictionary

personaldetails = {
    "first_name": "Olalekan Samuel",
    "last_name": "Ogunleye",
    "Age": 43,
    "Country_of_birth": "Nigeria",
    "Country_living_in": "South Africa",
    "marital_status": "Married",
    "skills": ["C#", "Java", "Python", "C", "C++", "HTML5"],
    "Address": {
        "Street": "Somewhere in South Africa and Nigeria",
        "Post code":1940
    }
}

for key in personaldetails:
    print(key)
for key, value in personaldetails.items():
    print(key, value) #This will print the keys and values

first_name
last_name
Age
Country_of_birth
Country_living_in
marital_status
skills
Address
first_name Olalekan Samuel
last_name Ogunleye
Age 43
Country_of_birth Nigeria
Country_living_in South Africa
marital_status Married
skills ['C#', 'Java', 'Python', 'C', 'C++', 'HTML5']
Address {'Street': 'Somewhere in South Africa and Nigeria', 'Post code': 1940}

### Iterating Set using `for` Loop

In [34]:
#Example: Looping through the set using the for loop

fruits = {"Orange", "Watermelon", "Pear", "Grape", "Banana", "Apple"}

for fruit in fruits:
    print(fruit)

Grape
Apple
Pear
Banana
Watermelon
Orange

### `while` Loop in Python

### Syntax:

```python
while condition:
    body of the while loop
```

In [37]:
%%time
# Example: Printing Numbers that are less than 10

counter = 1

#Run the while loop as long as counter is less than 10

while counter < 10:
    print(counter)
    counter = counter + 1

1
2
3
4
5
6
7
8
9
CPU times: total: 0 ns
Wall time: 0 ns

In [39]:
# Example: Perform ana addition on sum of 20

number = 20
sum = 0
counter = 1
while counter <= number:
    sum = sum + counter
    counter = counter + 1
print("The sum of 20 numbers is:", sum)

The sum of 20 numbers is: 210

In [40]:
# Example

x = 200
while x > 0:
    print(("The value of x is"), x)
    x = x -1
print("Loop is completed")

The value of x is 200
The value of x is 199
The value of x is 198
The value of x is 197
The value of x is 196
The value of x is 195
The value of x is 194
The value of x is 193
The value of x is 192
The value of x is 191
The value of x is 190
The value of x is 189
The value of x is 188
The value of x is 187
The value of x is 186
The value of x is 185
The value of x is 184
The value of x is 183
The value of x is 182
The value of x is 181
The value of x is 180
The value of x is 179
The value of x is 178
The value of x is 177
The value of x is 176
The value of x is 175
The value of x is 174
The value of x is 173
The value of x is 172
The value of x is 171
The value of x is 170
The value of x is 169
The value of x is 168
The value of x is 167
The value of x is 166
The value of x is 165
The value of x is 164
The value of x is 163
The value of x is 162
The value of x is 161
The value of x is 160
The value of x is 159
The value of x is 158
The value of x is 157
The value of x is 156
The value of x is 155
The value of x is 154
The value of x is 153
The value of x is 152
The value of x is 151
The value of x is 150
The value of x is 149
The value of x is 148
The value of x is 147
The value of x is 146
The value of x is 145
The value of x is 144
The value of x is 143
The value of x is 142
The value of x is 141
The value of x is 140
The value of x is 139
The value of x is 138
The value of x is 137
The value of x is 136
The value of x is 135
The value of x is 134
The value of x is 133
The value of x is 132
The value of x is 131
The value of x is 130
The value of x is 129
The value of x is 128
The value of x is 127
The value of x is 126
The value of x is 125
The value of x is 124
The value of x is 123
The value of x is 122
The value of x is 121
The value of x is 120
The value of x is 119
The value of x is 118
The value of x is 117
The value of x is 116
The value of x is 115
The value of x is 114
The value of x is 113
The value of x is 112
The value of x is 111
The value of x is 110
The value of x is 109
The value of x is 108
The value of x is 107
The value of x is 106
The value of x is 105
The value of x is 104
The value of x is 103
The value of x is 102
The value of x is 101
The value of x is 100
The value of x is 99
The value of x is 98
The value of x is 97
The value of x is 96
The value of x is 95
The value of x is 94
The value of x is 93
The value of x is 92
The value of x is 91
The value of x is 90
The value of x is 89
The value of x is 88
The value of x is 87
The value of x is 86
The value of x is 85
The value of x is 84
The value of x is 83
The value of x is 82
The value of x is 81
The value of x is 80
The value of x is 79
The value of x is 78
The value of x is 77
The value of x is 76
The value of x is 75
The value of x is 74
The value of x is 73
The value of x is 72
The value of x is 71
The value of x is 70
The value of x is 69
The value of x is 68
The value of x is 67
The value of x is 66
The value of x is 65
The value of x is 64
The value of x is 63
The value of x is 62
The value of x is 61
The value of x is 60
The value of x is 59
The value of x is 58
The value of x is 57
The value of x is 56
The value of x is 55
The value of x is 54
The value of x is 53
The value of x is 52
The value of x is 51
The value of x is 50
The value of x is 49
The value of x is 48
The value of x is 47
The value of x is 46
The value of x is 45
The value of x is 44
The value of x is 43
The value of x is 42
The value of x is 41
The value of x is 40
The value of x is 39
The value of x is 38
The value of x is 37
The value of x is 36
The value of x is 35
The value of x is 34
The value of x is 33
The value of x is 32
The value of x is 31
The value of x is 30
The value of x is 29
The value of x is 28
The value of x is 27
The value of x is 26
The value of x is 25
The value of x is 24
The value of x is 23
The value of x is 22
The value of x is 21
The value of x is 20
The value of x is 19
The value of x is 18
The value of x is 17
The value of x is 16
The value of x is 15
The value of x is 14
The value of x is 13
The value of x is 12
The value of x is 11
The value of x is 10
The value of x is 9
The value of x is 8
The value of x is 7
The value of x is 6
The value of x is 5
The value of x is 4
The value of x is 3
The value of x is 2
The value of x is 1
Loop is completed

In [41]:
# Example

number = 175
sum = 0

while number >0:
    remainder = number%10
    sum+=remainder
    number = number/10
print(sum)

14.444444444444445

In [44]:
# Example: How many times a number can be divided by 3 before it is less than or equal to 10

counter = 0
number = 240

while number > 10:
    #perform the division
    number = number / 3
    #Increase the counter
    counter = counter + 1
print("Total interation required before it can be divided by 3 before it is less than or equal to 10 is:", counter)

Total interation required before it can be divided by 3 before it is less than or equal to 10 is: 3

In [47]:
# Example: Porgram to add natural numbers up to sum = 1 + 2 + 3 + 4 + 5 + ... + n

# To take the input from the user
number = int(input("Enter the number "))

#initialize sum and counter
sum = 0
counter = 1

while counter <= number:
    sum = sum + counter
    counter = counter + 1 #You are updating the counter, which means the value of the counter will change
print("The Addition of the number is", sum)

Enter the number 120
The Addition of the number is 7260

In [48]:
# Example: Printing the fibonacci series

#In Fibonacci series, the sum of two elements defines the next set

x, y = 0, 1

while y < 10000:
    print(y, end = " ", flush = True)
    x, y = y, x + y

print()

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

### using `while` loop inside `for` loop

The `while` loop is an entry controlled loop while the `for` loop is a counter controlled loop

In [50]:
# Example: Print the multiplication table of the first 10 numbers using for loop and while loop together

#Outer Loop
for number in range(1, 11):
    print("Mutiplication Table of ", number)
    counter = 1
    #inner loop to print the multiplication table of the current number
    while counter < 11:
        print(number * counter, end= ' ')
        counter = counter + 1
    print('\n')

Mutiplication Table of  1
1 2 3 4 5 6 7 8 9 10

Mutiplication Table of  2
2 4 6 8 10 12 14 16 18 20

Mutiplication Table of  3
3 6 9 12 15 18 21 24 27 30

Mutiplication Table of  4
4 8 12 16 20 24 28 32 36 40

Mutiplication Table of  5
5 10 15 20 25 30 35 40 45 50

Mutiplication Table of  6
6 12 18 24 30 36 42 48 54 60

Mutiplication Table of  7
7 14 21 28 35 42 49 56 63 70

Mutiplication Table of  8
8 16 24 32 40 48 56 64 72 80

Mutiplication Table of  9
9 18 27 36 45 54 63 72 81 90

Mutiplication Table of  10
10 20 30 40 50 60 70 80 90 100

In [51]:
# Example: 

names = ["Omolola", "Oluwabunmi", "Oluwashindara", "Oluwashola", "Olalekan"]

for name in names:
    counter = 0
    while counter < 6:
        print(name, end=' ')
        #Increment the counter
        counter = counter + 1
    print()

Omolola Omolola Omolola Omolola Omolola Omolola
Oluwabunmi Oluwabunmi Oluwabunmi Oluwabunmi Oluwabunmi Oluwabunmi
Oluwashindara Oluwashindara Oluwashindara Oluwashindara Oluwashindara Oluwashindara
Oluwashola Oluwashola Oluwashola Oluwashola Oluwashola Oluwashola
Olalekan Olalekan Olalekan Olalekan Olalekan Olalekan

### Using `while` loop with `if-else`

In [53]:
# Example: Printing even and odd numbers between 1 and the number entered by a user

number = int(input('Please Enter a number: '))

while number > 0:
    #Check for even and odd numbers with the number entered by the user
    if number % 2 == 0:
        print(number, 'is an even number')
    else:
        print(number, 'is an odd number')
    #decrease the number by 1 in each iteration
    number = number -1

Please Enter a number: 20
20 is an even number
19 is an odd number
18 is an even number
17 is an odd number
16 is an even number
15 is an odd number
14 is an even number
13 is an odd number
12 is an even number
11 is an odd number
10 is an even number
9 is an odd number
8 is an even number
7 is an odd number
6 is an even number
5 is an odd number
4 is an even number
3 is an odd number
2 is an even number
1 is an odd number

In [56]:
# Example: Printing the square of odd numbers less than the number the user enters

number = int(input('Please Enter a number: '))

counter = 1

while counter < number:
    if (counter % 2 != 0):
    #if (counter % 2 == 0): For even number implementation
        print(counter ** 2)
        counter = counter + 1
    else:
        print(counter)
        counter = counter + 1

Please Enter a number: 20
1
2
9
4
25
6
49
8
81
10
121
12
169
14
225
16
289
18
361

### `while` loop with `else`

In [57]:
counter = 0

while counter < 15:
    print(counter)
    counter = counter + 1
else:
    print(counter)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [59]:
#Example: Using the while loop to print the numbers from 1 to 100

numbers = 1

while numbers <= 100:
    print(numbers)
    numbers = numbers + 1
else:
    print("I am done. This is the end of the loop")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
I am done. This is the end of the loop

In [62]:
#Example: Else block with a break statement in a while loop

numbers = 1
while numbers <= 100:
    print(numbers)
    if numbers == 30:
        break
    numbers = numbers + 1
else:
    print("I am done. This is the end of the loop")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

### Using Control Statement in a `while` loop

In [63]:
### Example using the break statement in while loop

counter = 0
while counter < 15:
    print(counter)
    counter = counter + 1
    if counter == 7:
        break

0
1
2
3
4
5
6

In [64]:
### Example using the break statement in while loop

mylist2 = [85, "Oluwabunmi", 67.45, 70, 56.23, "Omolola"]

counter = 0
while(counter < 6):
    print(mylist2[counter])
    counter = counter + 1
    if(counter == 4):
        break

85
Oluwabunmi
67.45
70

### Using `break` with the while loop

In [65]:
### Example: Print each of the character in a string and stop the loop once it encounters a number

name = "Olalekan99Ademola"
size = len(name)
counter = 0

#iterate through the loop until the last character
while counter < size:
    #break the loop if the current character is number
    if name[counter].isdecimal():
        break
    #print the current characters that have been read so far
    print(name[counter], end=' ')
    counter = counter + 1

O l a l e k a n

### Using `continue` with the while loop

In [ ]:
# Example

counter = 0

while counter < 15:
    if counter == 7:
        continue
    else:
        print(counter)
        counter = counter + 1

0
1
2
3
4
5
6

In [1]:
# Example: Printing odd numbers that are less than n

number = int(input("Please enter a number: "))

#number = 30

i = 1
while (i < number):
    if i % 2 == 0:
        i = i + 1
        continue #This means skip the current loop
    else:
        print(i)
        i = i + 1

Please enter a number: 30
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

### Using `pass` with the while loop

In [2]:
n = 20

while n > 0:
    n = n-1
    pass

### `Reverse` while loop

In [3]:
#Example: Reverse a while loop to display number from 100 to 1

number = 100

while number >= 0:
    print(number, end = ' ')
    number = number - 1

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0

### Nested `while` loops

### Syntax:

```python
while expression:
    while expression:
        statement(s)
    statements(s)
```

In [5]:
i = 1
while i <= 3:
    j = 1
    while j <=10:
        print(j, end=' ')
        j = j + 1
    i = i + 1
    print()

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [6]:
#Example: printing a pyramid of *

i = 1
#Outer loop
while i < 6:
    j = 0
    #nested while loop
    while j < i:
        print('*', end=' ')
        j = j + 1
    print('')
    i = i + 1

*
* *
* * *
* * * *
* * * * *

### `for` loop inside `while` loop

In [7]:
i = 1

# Outer while loop

while i < 6:
    #nested for loop
    for j in range(1, i + 1):
        print('*', end=' ')
    print('')
    i = i + 1

*
* *
* * *
* * * *
* * * * *

### Exercise

Write a Code to add all the prime numbers between 17 and 73 using while loop and for loop inside the while loop

### Iterate String using `whlie` loop

In [8]:
# Example: using while loop to iterate string letter by letter

name = "oluwabunmi"
i = 0
namesize = len(name) - 1
while i <= namesize:
    print(name[i])
    i = i + 1

o
l
u
w
a
b
u
n
m
i

### Iterate List using `whlie` loop

In [10]:
# Example: Using while loop to iterate over a list

numbers = [ 30, 26, 76, 24, 56]

numbers_size = len(numbers)
i = 0
while i < numbers_size:
    print(numbers[i])
    i = i + 1

30
26
76
24
56

In [11]:
# Example: Printing the first 5 elements of a List

myList3 = ["Olalekan", "oluwabunmi", "Omolola", "Olusola", 89, 67.9, 59,8, 31.8]

i = 0
while i < 5:
    print(myList3[i]) #What we are doing here is that we are printing the elements in the index i
    i = i + 1

Olalekan
oluwabunmi
Omolola
Olusola
89

### Iterate Numbers using `whlie` loop

In [13]:
#Example: Printing the square of a number less than a particular number

i = 1
while (i <= 20):
    print(i ** 2)
    i = i + 1

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [14]:
#Example: Finding the cube of numbers from 1 to 19

i = 1
while i < 20:
    print(i*i*i)
    #print(i**3)
    i = i + 1

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859

### Control Statements

|     | Statement  |  Description|
|:----|:----|:----|
|1| **`break`**|Terminates the current loop. It is also used to come out of the loop instantly.|
|2| **`continue`**|It skips the current iteration of the loop and move to the next iteration. |
|3| **`pass`**|Does nothing. It ignores the condition in which it oocurs and move to the next run of the program |

### Python `break` Statement

In [16]:
#Example:

numbers = [30, 50, 60, 80, 120, 210, 300]

for number in numbers:
    if number > 100:
        break
    print('The current number:', number)

The current number: 30
The current number: 50
The current number: 60
The current number: 80

In [18]:
#Example: 

number = 0
for number in range(20):
    number = number + 1
    if number == 14:
        break
    print('number is:' + str(number))
print('This is the end of the loop')

number is:1
number is:2
number is:3
number is:4
number is:5
number is:6
number is:7
number is:8
number is:9
number is:10
number is:11
number is:12
number is:13
This is the end of the loop

### Nested `break` loops

### 1. `break` Statement in the inner Loop

In [19]:
# Example:

for i in range(200):
    print(i, end='...')
    if i >=80:
        break
print('...Completed')

0...1...2...3...4...5...6...7...8...9...10...11...12...13...14...15...16...17...18...19...20...21...22...23...24...25...26...27...28...29...30...31...32...33...34...35...36...37...38...39...40...41...42...43...44...45...46...47...48...49...50...51...52...53...54...55...56...57...58...59...60...61...62...63...64...65...66...67...68...69...70...71...72...73...74...75...76...77...78...79...80......Completed

In [20]:
#Example:

for val in 'Olalekan Samuel':
    if val == 'm':
        break
    print(val)
print('This is the end')

O
l
a
l
e
k
a
n

S
a
This is the end

In [21]:
#Example:
for letter in "HELLOWORLD":
    if letter == 'R':
        break
    print(letter)
print('We have reached R')

H
E
L
L
O
W
O
We have reached R

#### Exercise

Write a simple program that ask user to supply letter and check if letter 'A' is found. print to the screen if its found or otherwise

### 2. `break` Statement in the outer Loop

In [22]:
#Example:

for i in range(1, 11):
    #condition to break in the outer loop
    if i > 7:
        break
    print('Multiplcation Table of', i)
    for j in range(1,11):
        print(i * j, end=' ')
    print('')

Multiplcation Table of 1
1 2 3 4 5 6 7 8 9 10
Multiplcation Table of 2
2 4 6 8 10 12 14 16 18 20
Multiplcation Table of 3
3 6 9 12 15 18 21 24 27 30
Multiplcation Table of 4
4 8 12 16 20 24 28 32 36 40
Multiplcation Table of 5
5 10 15 20 25 30 35 40 45 50
Multiplcation Table of 6
6 12 18 24 30 36 42 48 54 60
Multiplcation Table of 7
7 14 21 28 35 42 49 56 63 70

In [23]:
# Example:
numbers = [2, 4, 6, 8, 10, 12, 14, 16]

for i in numbers:
    print('The Current number is:', i)
    #skip if number is greater than 10
    if i > 10:
        continue
    square = i * i
    print('The square of a current number is:', square)

The Current number is: 2
The square of a current number is: 4
The Current number is: 4
The square of a current number is: 16
The Current number is: 6
The square of a current number is: 36
The Current number is: 8
The square of a current number is: 64
The Current number is: 10
The square of a current number is: 100
The Current number is: 12
The Current number is: 14
The Current number is: 16

### Python `continue` Statement

### `continue` Statement in `while` loop

In [25]:
#Example: Write a while loop to display each character in a while loop, and once if experiences a space
# do not display the space, just move one

name = "Olalekan Samuel Ogunleye"
name_size = len(name)
i = -1
#Iterate the loop until the last character is reached
while i < name_size - 1:
    i = i + 1
    #skip the loop body if the current character is space
    if name[i].isspace():
        continue
    print(name[i], end=' ')

O l a l e k a n S a m u e l O g u n l e y e

### `continue` Statement with `else` statements

In [28]:
# Example: Write a simple program that ask user to supply letter and check if letter 'A' is found.
#print to the screen if its found or otherwise

word = input("Enter a word: ")

for letter in word:
    if (letter != 'A'):
        continue
    else:
        print("A is found")
        break
print("A is not found")

Enter a word: Olalekan Samuel
A is not found

### Nested `continue` loops

### 1. `continue` Statement in the inner Loop

In [29]:
#Example:

for i in range(1, 11):
    print('Multiplcation Table of', i)
    for j in range(1,11):
        #Condition to skip the current iteration
        if j == 7:
            continue
        print(i * j, end=' ')
    print('')

Multiplcation Table of 1
1 2 3 4 5 6 8 9 10
Multiplcation Table of 2
2 4 6 8 10 12 16 18 20
Multiplcation Table of 3
3 6 9 12 15 18 24 27 30
Multiplcation Table of 4
4 8 12 16 20 24 32 36 40
Multiplcation Table of 5
5 10 15 20 25 30 40 45 50
Multiplcation Table of 6
6 12 18 24 30 36 48 54 60
Multiplcation Table of 7
7 14 21 28 35 42 56 63 70
Multiplcation Table of 8
8 16 24 32 40 48 64 72 80
Multiplcation Table of 9
9 18 27 36 45 54 72 81 90
Multiplcation Table of 10
10 20 30 40 50 60 80 90 100

### 2. `continue` Statement in the outer Loop

In [30]:
#Example:

for i in range(1, 11):
    #Condition to skip the current iteration
    #print('Multiplcation Table of', i)
    if i % 2 == 0:
        continue
    print('Multiplcation Table of', i)
    for j in range(1,11):
        print(i * j, end=' ')
    print('')

Multiplcation Table of 1
1 2 3 4 5 6 7 8 9 10
Multiplcation Table of 3
3 6 9 12 15 18 21 24 27 30
Multiplcation Table of 5
5 10 15 20 25 30 35 40 45 50
Multiplcation Table of 7
7 14 21 28 35 42 49 56 63 70
Multiplcation Table of 9
9 18 27 36 45 54 63 72 81 90

### Python `pass` Statement

In [33]:
#Example: 

for number in range(20):
    number = number + 1
    if number == 12:
        pass #pass here and do nothing
    print('Number is ' + str(number))
print("We are now out of the loop")

Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 6
Number is 7
Number is 8
Number is 9
Number is 10
Number is 11
Number is 12
Number is 13
Number is 14
Number is 15
Number is 16
Number is 17
Number is 18
Number is 19
Number is 20
We are now out of the loop

In [34]:
months =  ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "november", "December"]

for month in months:
    pass
print(months)

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'november', 'December']