In [1]:
# Concat Dataframes : merge/join two or more data frames :

import pandas as pd 

# creatng a data frames :

india_weather = pd.DataFrame({
    "City" : ["mumbai","delhi","banglore"],
    "Temperature" : [32,45,30],
    "Humidity" : [80,60,70]
})
print(india_weather)

us_weather = pd.DataFrame({
    "City" : ["new york","chicago","orlando"],
    "Temperature" : [21,12,35],
    "Humidity" : [60,45,75]
})
print(us_weather)

       City  Temperature  Humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        70
       City  Temperature  Humidity
0  new york           21        60
1   chicago           12        45
2   orlando           35        75

In [2]:
# concatination of data frames :

df = pd.concat([india_weather,us_weather])
print(df)

       City  Temperature  Humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        70
0  new york           21        60
1   chicago           12        45
2   orlando           35        75

In [3]:
# if you want ignore index and print only one basic index then you can pass ignore index argument :

df = pd.concat([india_weather,us_weather],ignore_index=True)
print(df)

       City  Temperature  Humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        70
3  new york           21        60
4   chicago           12        45
5   orlando           35        75

In [4]:
# if you want to retrive weather data from indian cities for this you can use keys :

df = pd.concat([india_weather,us_weather], keys=["india","us"])
print(df)

             City  Temperature  Humidity
india 0    mumbai           32        80
      1     delhi           45        60
      2  banglore           30        70
us    0  new york           21        60
      1   chicago           12        45
      2   orlando           35        75

In [5]:
# if there is one unique coloumn in any data frame :

only_temp = pd.DataFrame(
    {
        "city" : ["surat","ahemdabad"],
        "temperature" : [32,42]
    }
)
print(only_temp)

only_windspeed = pd.DataFrame(
    {
        "city" : ["surat","ahemdabad"],
        "windspeed" : [7,12]
    }
)
print(only_windspeed)

        city  temperature
0      surat           32
1  ahemdabad           42
        city  windspeed
0      surat          7
1  ahemdabad         12

In [6]:
# merging data frames :

df = pd.concat([only_temp,only_windspeed],sort=True)
print(df)

        city  temperature  windspeed
0      surat         32.0        NaN
1  ahemdabad         42.0        NaN
0      surat          NaN        7.0
1  ahemdabad          NaN       12.0

In [7]:
# if you want to add row instead of NaN values then you can use axis :

df = pd.concat([only_temp,only_windspeed],axis=1)
print(df)

        city  temperature       city  windspeed
0      surat           32      surat          7
1  ahemdabad           42  ahemdabad         12

In [8]:
# if there is missing data in any data frames :

# creating a data frame that have missing data :


miss_temp = pd.DataFrame(
    {
        "city" : ["surat","ahemdabad","Rajkot"],
        "temperature" : [32,42,40]
    }, index=[0,1,2]
)
print(miss_temp)
miss_windspeed = pd.DataFrame(
    {
        "city" : ["ahemdabad","surat"],
        "windspeed" : [7,12]
    },index=[1,0]
)
print(miss_windspeed)

        city  temperature
0      surat           32
1  ahemdabad           42
2     Rajkot           40
        city  windspeed
1  ahemdabad          7
0      surat         12

In [9]:
# in second data frame Rajkot is missing and order of city is different to manage this data you can use index :

df = pd.concat([miss_temp,miss_windspeed],axis=1)
print(df)

        city  temperature       city  windspeed
0      surat           32      surat       12.0
1  ahemdabad           42  ahemdabad        7.0
2     Rajkot           40        NaN        NaN

In [10]:
# you can also append series in concatination :

# creating a series :
series_ = pd.Series(["Humid","dry","Rain"],name="event")
print(series_)

0    Humid
1      dry
2     Rain
Name: event, dtype: object

In [11]:
# appending series into data frames :

df = pd.concat([miss_temp,series_],axis=1)
print(df)

        city  temperature  event
0      surat           32  Humid
1  ahemdabad           42    dry
2     Rajkot           40   Rain