In [10]:
import pandas as pd
df = pd.read_csv("S:\\Coding\\Github\\Data Science Learning\\Pandas\\Group_by.csv")
print(df)

       city  temperature  humidity
0  new york           30        60
1    mumbai           35        70
2     paris           25        55
3  new york           32        62
4    mumbai           34        72
5     paris           27        50
6  new york           31        61
7    mumbai           36        68
8     paris           26        54

In [11]:
# group by data by thier cities :

g = df.groupby('city')
print(g)
# it will create a object where you have keys and values here keys are 'new york,mumbai,paris' and values are other data :

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001BAA8734C50>

In [12]:
# if you want to access all groups :

for city, city_df in g:
    print(city)
    print(city_df)

mumbai
     city  temperature  humidity
1  mumbai           35        70
4  mumbai           34        72
7  mumbai           36        68
new york
       city  temperature  humidity
0  new york           30        60
3  new york           32        62
6  new york           31        61
paris
    city  temperature  humidity
2  paris           25        55
5  paris           27        50
8  paris           26        54

In [13]:
# if you want to access a particular group :

print("Only Mumbai")
p_group = g.get_group('mumbai')
print(p_group)

Only Mumbai
     city  temperature  humidity
1  mumbai           35        70
4  mumbai           34        72
7  mumbai           36        68

In [14]:
max_ = g.max()
print(max_) # in this what you're doing is :
# first you divide your data sets in group based on cities then,
# you're runnng analytics on each of this groups and then,
# you're combining the result into the single data frame :

# this process of dividing your data in groups and aplying some analytics to get aggregated result is called " split apply combined " :
# split : spliting data in groups :
# apply : apply operations on all groups (ex. max()) :
# combine : combine all result in single data frame :

          temperature  humidity
city
mumbai             36        72
new york           32        62
paris              27        55

In [15]:
# find avg of all cities :

avg_ = g.mean()
print(avg_)

          temperature  humidity
city
mumbai           35.0      70.0
new york         31.0      61.0
paris            26.0      53.0

In [16]:
# if you want to get all analytics in one shot then you can apply discribe() :

all_analytics = g.describe()
print(all_analytics)

         temperature                                          humidity        \
               count  mean  std   min   25%   50%   75%   max    count  mean
city
mumbai           3.0  35.0  1.0  34.0  34.5  35.0  35.5  36.0      3.0  70.0
new york         3.0  31.0  1.0  30.0  30.5  31.0  31.5  32.0      3.0  61.0
paris            3.0  26.0  1.0  25.0  25.5  26.0  26.5  27.0      3.0  53.0


               std   min   25%   50%   75%   max
city
mumbai    2.000000  68.0  69.0  70.0  71.0  72.0
new york  1.000000  60.0  60.5  61.0  61.5  62.0
paris     2.645751  50.0  52.0  54.0  54.5  55.0