In [2]:
import pandas as pd
import numpy as np 
data = {
   'temperature': [20, -99999, 30, -99999, 40, 50, 60],
    'windspeed': [10, 20, -99999, -88888, 15, 25, 30],
    'event': ['No event', 'No event', 'Event', 'No event', 'No event', 'No event', 'No event']
}

df = pd.DataFrame(data)
df.to_csv("Group_by.csv", index=False)
df.head()

   temperature  windspeed     event
0           20         10  No event
1       -99999         20  No event
2           30     -99999     Event
3       -99999     -88888  No event
4           40         15  No event

In [3]:
# if you want to replace all -99999 value with NaN :
# new_df = df.replace(-99999,np.NaN)
# print(new_df)

In [4]:
# for more values if you want to replace then you have to use dictionaries :
new_df = df.replace({
    'temperature' : -99999,
    'windspeed' : [-99999,-88888],
    'event' : 'No event',
},np.NaN)
print(new_df)

   temperature  windspeed  event
0         20.0       10.0    NaN
1          NaN       20.0    NaN
2         30.0        NaN  Event
3          NaN        NaN    NaN
4         40.0       15.0    NaN
5         50.0       25.0    NaN
6         60.0       30.0    NaN

In [5]:
new_df = df.replace({
    'temperature' : '[A-Za-z]',
    'windspeed' : '[A-Za-z]',
},'',regex=True)
print(new_df) # this will replace all a-z characters with ''(blank space) from temperature and windspeed columns :

   temperature  windspeed     event
0           20         10  No event
1       -99999         20  No event
2           30     -99999     Event
3       -99999     -88888  No event
4           40         15  No event
5           50         25  No event
6           60         30  No event

In [6]:
# how can you replace list of values with another list of values :

# creating a database :
df = pd.DataFrame({
    'score' : ['exceptional','average','good','poor','average','exceptional'],
    'student' : ['rob','maya','parthiv','tom','julian','erica']
})
print(df)

         score  student
0  exceptional      rob
1      average     maya
2         good  parthiv
3         poor      tom
4      average   julian
5  exceptional    erica

In [7]:
# replace all 'exceptional','average','good','poor','average','exceptional' with [1,2,3,4] :

new_df = df.replace(['poor','average','good','exceptional'],[1,2,3,4])
print(new_df)

   score  student
0      4      rob
1      2     maya
2      3  parthiv
3      1      tom
4      2   julian
5      4    erica

C:\Users\rohan\AppData\Local\Temp\ipykernel_10348\1358700454.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  new_df = df.replace(['poor','average','good','exceptional'],[1,2,3,4])